@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?zg8tpz');
  src:  url('../fonts/icomoon/icomoon.eot?zg8tpz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?zg8tpz') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?zg8tpz') format('woff'),
    url('../fonts/icomoon/icomoon.svg?zg8tpz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest-square:before {
  content: "\f0d3";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-apple:before {
  content: "\f179";
}
.icon-windows:before {
  content: "\f17a";
}
.icon-android:before {
  content: "\f17b";
}
