<gridster-item ng-hide="!vm.editmode && !vm.datastatus && vm.element.showOnlyFiltered" item="vm.element" ng-style="{'background-color':vm.element.backgroundColor, 'border-width': vm.element.border.width + 'px', 'border-color': vm.element.border.color, 'border-radius': vm.element.border.radius + 'px', 'border-style': 'solid'}" ng-class="vm.isMaximized ? 'animate-show-hide widget-maximize': 'animate-show-hide'">
  <div class="element-container fullcontainer">

      <!-- toolbar header enabled-->
      <div  class="md-toolbar-tools widget-header md-hue-2" flex ng-if="vm.element.header.enable"  ng-style="{'background':vm.element.header.backgroundColor, 'height': vm.element.header.height + 'px'}">                 
       
   
          <!-- gadget icon and title -->
          <md-icon ng-if="vm.element.header.title.icon" ng-style="{'color':vm.element.header.title.iconColor,'font-size' : '24px'}">{{vm.element.header.title.icon}}</md-icon>
          <h5 ng-if="vm.element.header.enable" class="gadget-title"  flex ng-style="{'color':vm.element.header.title.textColor}" md-truncate>{{vm.element.header.title.text | translate}}</h5> 
                            
        
         <div ng-repeat="menuOption in vm.element.customMenuOptions">
          <md-button ng-if="menuOption.position == 'header'"  ng-click="vm.sendCustomMenuOption(menuOption.id)"   style="margin-right: 10px;" class="cursor-hand md-icon-button">
            <img draggable="false" ng-src="{{menuOption.imagePath ? menuOption.imagePath : '/controlpanel/static/images/dashboards/icon_button_controls.svg'}}"> 
            <md-tooltip>{{menuOption.description}}</md-tooltip> 
          </md-button>

         </div> 


          <md-button  ng-if="vm.showFiltersInBody()" ng-click="vm.toggleRight(vm.element.id+'rightSidenav')"   style="margin-right: 10px;" class="cursor-hand md-icon-button">
            <img draggable="false" ng-src="{{vm.baseimg}}/static/images/dashboards/icon_filter.svg">
            <md-tooltip>Filter</md-tooltip>
          </md-button>
          <md-button ng-if="vm.showfiltersInModal() "  ng-click="vm.openFilterDialog()"  style="margin-right: 10px;" class="cursor-hand md-icon-button">
           <img draggable="false" ng-src="{{vm.baseimg}}/static/images/dashboards/icon_filter.svg">
           <md-tooltip>Filter</md-tooltip>
          </md-button>
         

           <!-- gadget movement handler  -->
           <md-button ng-if="vm.editmode && vm.element.header.enable" style="margin-right: 10px;" class="drag-handler md-icon-button">
            <img draggable="false" ng-src="{{vm.baseimg}}/static/images/dashboards/Icon_move.svg">
            <md-tooltip>Move</md-tooltip>
          </md-button> 
          <div id="{{vm.element.id + 'toolbarheader'}}"></div>
          <!-- gadget toolbar -->
          <div flex="nogrow" layout-align="center right" ng-if="vm.editmode || !vm.element.notshowDotsMenu">            
          <md-menu-bar>             
              <md-menu md-position-mode="target-right bottom" md-offset="-4 0">
                  <button ng-click="$mdMenu.open()" style="padding: 0px">
                    <img ng-src="{{vm.baseimg}}/static/images/dashboards/more.svg">
                      <md-tooltip>Options</md-tooltip>
                  </button>
                  <md-menu-content width="5"> 
                    <md-menu-item>
                        <md-button  ng-click="vm.toggleFullScreen()"  aria-label="Fullscreen" >
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/Icon_full.svg">
                          <span>Fullscreen</span>
                          </md-button>             
                    </md-menu-item>
                
                  <md-menu-item ng-if="(!vm.iframe || vm.iframe && vm.editbuttonsiframe.filterGadgetMenu) && vm.editmode && vm.element.type != 'html5'">
                    <md-button  ng-click="vm.openEditFilterDialog()"  aria-label="Edit Filter" >
                      <img ng-src="{{vm.baseimg}}/static/images/dashboards/icon_menu_filter.svg" >
                      <span>Edit Filters</span>
                      </md-button>             
                </md-menu-item>  
                <md-menu-item ng-if="!vm.iframe && vm.editmode && vm.element.type === 'livehtml'">
                  <md-button  ng-click="vm.openEditCustomMenuOptionsDialog()"  aria-label="Custom Menu Options" >
                    <img ng-src="{{vm.baseimg}}/static/images/dashboards/icon_button_menu.svg" style="height:20px;">
                    <span>Custom Menu Options</span>
                    </md-button>             
              </md-menu-item> 
              <md-menu-item ng-if="vm.showfavoritesg">
                <md-button  ng-click="vm.addFavoriteDialog()"  aria-label="Add to Favorites" >
                  <img ng-src="{{vm.baseimg}}/static/images/dashboards/star-default.svg" style="height:20px;color: #060E14;">
                  <span>Add to Favorites</span>
                  </md-button>             
            </md-menu-item> 
                    <md-menu-item ng-if="vm.editmode">
                        <md-button  ng-click="vm.openEditContainerDialog()"  aria-label="Edit Container">
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/style.svg">
                          <span>Styling</span>
                          </md-button>             
                    </md-menu-item>
                    <md-menu-item ng-if="vm.editmode && ((!vm.iframe || (vm.iframe &&  vm.editbuttonsiframe.editGadgetMenu) ) || vm.eventedit) && (vm.element.type == 'livehtml' ||  vm.element.type == 'vuetemplate' ||  vm.element.type == 'reacttemplate')">
                      <md-button ng-if="vm.element.template == null" ng-click="vm.openEditGadgetDialog()"   aria-label="Gadget Editor">
                        <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                        <span>Edit</span>
                      </md-button>
                      <md-button ng-if="vm.element.template != null" ng-click="vm.openEditTemplateParamsDialog()"   aria-label="Gadget Editor">
                        <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                        <span>Edit</span>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="vm.editmode  && ((!vm.iframe || (vm.iframe &&  vm.editbuttonsiframe.editGadgetMenu) ) || vm.eventedit) &&  (vm.element.type == 'html5' )">
                      <md-button  ng-click="vm.openEditGadgetHTML5Dialog()"   aria-label="Gadget Editor">
                        <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                        <span>Edit</span>
                        </md-button>                
                    </md-menu-item>             
                    <md-menu-item ng-if="vm.editmode  && ((!vm.iframe || (vm.iframe &&  vm.editbuttonsiframe.editGadgetMenu) ) || vm.eventedit) && (vm.element.type != 'livehtml' && vm.element.type != 'html5'&& vm.element.type != 'gadgetfilter'   && vm.element.type != 'vuetemplate'  && vm.element.type != 'reacttemplate')">
                        <md-button  ng-click="vm.openEditGadgetIframe()" aria-label="Edit Container">
                           <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                            <span>Edit</span>
                          </md-button>                 
                    </md-menu-item>                   
                    <md-menu-item ng-if="vm.editmode">
                        <md-button   ng-click="vm.deleteElement()">
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/delete.svg">                         
                            <span>Remove</span>                   
                          </md-button>
                    </md-menu-item>
                    <div ng-repeat="menuOption in vm.element.customMenuOptions">
                      <md-menu-item ng-if="menuOption.position == 'menu'">
                        <md-button   ng-click="vm.sendCustomMenuOption(menuOption.id)">
                          <img ng-src="{{menuOption.imagePath ? menuOption.imagePath : '/controlpanel/static/images/dashboards/icon_button_controls.svg'}}" style="height:20px;">                         
                            <span>{{menuOption.description}}</span>                   
                          </md-button>
                    </md-menu-item>                      
                    </div>
                  </md-menu-content>
                </md-menu>
            </md-menu-bar> 
          </div>           
      </div>
      
      <!-- toolbar when header is disabled -->      
      <div flex ng-if="!vm.element.header.enable" class="item-buttons">                 
         
       
         <div ng-repeat="menuOption in vm.element.customMenuOptions">
          <md-button ng-if="menuOption.position == 'header'"  ng-click="vm.sendCustomMenuOption(menuOption.id)"   style="margin-right: 10px;" class="cursor-hand md-icon-button">
            <img draggable="false" ng-src="{{menuOption.imagePath ? menuOption.imagePath : '/controlpanel/static/images/dashboards/icon_button_controls.svg'}}"> 
            <md-tooltip>{{menuOption.description}}</md-tooltip> 
          </md-button>

         </div> 

          <md-button  ng-if="vm.showFiltersInBody()" ng-click="vm.toggleRight(vm.element.id+'rightSidenav')"   style="margin-right: 10px;" class="cursor-hand md-icon-button">
            <img draggable="false" ng-src="{{vm.baseimg}}/static/images/dashboards/icon_filter.svg">
            <md-tooltip>Filter</md-tooltip>
          </md-button>
          <md-button ng-if="vm.showfiltersInModal()"  ng-click="vm.openFilterDialog()"  style="margin-right: 10px;" class="cursor-hand md-icon-button">
              <img draggable="false" ng-src="{{vm.baseimg}}/static/images/dashboards/icon_filter.svg">
            <md-tooltip>Filter</md-tooltip>
          </md-button>


           <!-- gadget movement handler  -->
           <md-button ng-if="vm.editmode" style="margin: 0px 10px 0px 0px;" class="drag-handler md-icon-button">
            <img draggable="false" ng-src="{{vm.baseimg}}/static/images/dashboards/Icon_move.svg">
            <md-tooltip>Move</md-tooltip>
          </md-button> 
 
 
          <!-- gadget toolbar -->
          <div flex="nogrow" layout-align="center right" ng-if="vm.editmode || !vm.element.notshowDotsMenu">            
          <md-menu-bar  > 
               <md-menu md-position-mode="target-right bottom" md-offset="-4 0">
                  <button ng-click="$mdMenu.open()" style="padding: 0px">
                    <img ng-src="{{vm.baseimg}}/static/images/dashboards/more.svg">
                      <md-tooltip>Options</md-tooltip>
                  </button>
                  <md-menu-content width="5">
                    <md-menu-item>
                        <md-button  ng-click="vm.toggleFullScreen()"  aria-label="Fullscreen" >
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/Icon_full.svg">
                          <span>Fullscreen</span>
                          </md-button>             
                    </md-menu-item>  
                
                  <md-menu-item ng-if="(!vm.iframe || vm.iframe && vm.editbuttonsiframe.filterGadgetMenu) && vm.editmode && vm.element.type != 'html5'">
                    <md-button  ng-click="vm.openEditFilterDialog()"  aria-label="Edit Filter" >
                      <img ng-src="{{vm.baseimg}}/static/images/dashboards/icon_menu_filter.svg">
                      <span>Edit Filters</span>
                      </md-button>             
                </md-menu-item>  
                
                <md-menu-item ng-if="!vm.iframe && vm.editmode && vm.element.type === 'livehtml'">
                  <md-button  ng-click="vm.openEditCustomMenuOptionsDialog()"  aria-label="Custom Menu Options" >
                    <img ng-src="{{vm.baseimg}}/static/images/dashboards/icon_button_menu.svg" style="height:20px;">
                    <span>Custom Menu Options</span>
                    </md-button>             
              </md-menu-item>  
              <md-menu-item ng-if="vm.showfavoritesg">
                <md-button  ng-click="vm.addFavoriteDialog()"  aria-label="Add to Favorites" >
                  <img ng-src="{{vm.baseimg}}/static/images/dashboards/star-default.svg" style="height:20px;color: #060E14;">
                  <span>Add to Favorites</span>
                  </md-button>             
            </md-menu-item> 


                    <md-menu-item ng-if="vm.editmode">
                        <md-button  ng-click="vm.openEditContainerDialog()"  aria-label="Edit Container">
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/style.svg">
                          <span>Styling</span>
                          </md-button>             
                    </md-menu-item>
                    <md-menu-item ng-if="vm.editmode && ((!vm.iframe || (vm.iframe &&  vm.editbuttonsiframe.editGadgetMenu) )|| vm.eventedit) && (vm.element.type == 'livehtml' ||  vm.element.type == 'vuetemplate' ||  vm.element.type == 'reacttemplate')">
                        <md-button ng-if="vm.element.template == null" ng-click="vm.openEditGadgetDialog()"   aria-label="Gadget Editor">
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                          <span>Edit</span>
                        </md-button>
                        <md-button ng-if="vm.element.template != null" ng-click="vm.openEditTemplateParamsDialog()"   aria-label="Gadget Editor">
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                          <span>Edit</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="vm.editmode && ((!vm.iframe || (vm.iframe &&  vm.editbuttonsiframe.editGadgetMenu) ) || vm.eventedit) &&  (vm.element.type == 'html5' )">
                      <md-button  ng-click="vm.openEditGadgetHTML5Dialog()"   aria-label="Gadget Editor">
                        <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                        <span>Edit</span>
                        </md-button>                
                    </md-menu-item>
                                          
                    <md-menu-item ng-if="vm.editmode && ((!vm.iframe || (vm.iframe &&  vm.editbuttonsiframe.editGadgetMenu) ) || vm.eventedit) && (vm.element.type != 'livehtml' && vm.element.type != 'html5'  && vm.element.type != 'gadgetfilter'  && vm.element.type != 'vuetemplate'  && vm.element.type != 'reacttemplate')">
                        <md-button  ng-click="vm.openEditGadgetIframe()" aria-label="Edit Container">
                           <img ng-src="{{vm.baseimg}}/static/images/dashboards/edit.svg">
                            <span>Edit</span>
                          </md-button>                 
                    </md-menu-item>                   
                    <md-menu-item ng-if="vm.editmode">
                        <md-button   ng-click="vm.deleteElement()">
                          <img ng-src="{{vm.baseimg}}/static/images/dashboards/delete.svg">                         
                            <span>Remove</span>                   
                          </md-button>
                    </md-menu-item>
                    <div ng-repeat="menuOption in vm.element.customMenuOptions">
                      <md-menu-item ng-if="menuOption.position == 'menu'">
                        <md-button   ng-click="vm.sendCustomMenuOption(menuOption.id)">
                          <img ng-src="{{menuOption.imagePath ? menuOption.imagePath : '/controlpanel/static/images/dashboards/icon_button_controls.svg'}}" style="height:20px;">                         
                            <span>{{menuOption.description}}</span>                   
                          </md-button>
                    </md-menu-item>                      
                    </div>
                  </md-menu-content>
                </md-menu>
            </md-menu-bar> 
          </div> 
        
      </div> 
   
    
    <div layout="row" layout-wrap layout-align="end start" ng-if="(vm.element.hideBadges === undefined || vm.element.hideBadges === false) && vm.element.type != 'gadgetfilter'" >
        <div  ng-class="vm.elemntbadgesclass()" ng-repeat=" data in vm.datastatus" style=" margin-top: 5px; text-align: left; z-index:1">           
            <div class="filter" flex="20" >
              <span class="badges-filters" title="{{data.name}} {{data.op}} {{data.value}}" >{{data.name}} 
                <span style="margin-left: 10px;margin-right: 2px" ng-click="vm.deleteFilter(data.id,data.field,data.op)">X</span>                
              </span>
            </div>
      </div>
      
     

     
     </div>
    <md-sidenav style=" min-width: 50px !important;    width: 100% !important;    max-width: 257px !important;" ng-if="(vm.element.filtersInModal === undefined || vm.element.filtersInModal === false) && vm.element.type != 'gadgetfilter' "  class="md-sidenav-right" md-component-id="{{vm.element.id}}rightSidenav" md-disable-backdrop="" md-whiteframe="4">
      <md-content style="padding: 24px">
          <div layout="row" layout-align="end start">
          <button type="button" aria-label="Close" style=" background: 0 0;border: none; outline: 0; cursor: pointer;" ng-click="vm.toggleRight(vm.element.id+'rightSidenav')"><span style="font-size: 16px !important;"class="ods-dialog__close ods-icon ods-icon-close"></span></button>         
          </div>
          <div id="_{{vm.element.id}}filters">
              <filter id="vm.element.id" datasource="vm.element.datasource" config="vm.config" hidebuttonclear="vm.element.hidebuttonclear" buttonbig="false"></filter> 
          </div>        
      </md-content>
    </md-sidenav>
    

    <livehtml  ng-style="{'background-color':vm.element.backgroundColor, 'padding': vm.element.padding + 'px'}" ng-if="(vm.element.type == 'livehtml' && (!vm.element.subtype || vm.element.subtype.startsWith('angularJS'))) || vm.element.type == 'gadgetfilter'" livecontent="vm.element.content" filters="vm.config" livecontentcode="vm.element.contentcode" datasource="vm.element.datasource" custommenuoptions="vm.element.customMenuOptions" ng-class="vm.elemntbodyclass()"    id="vm.element.id" datastatus="vm.datastatus" showonlyfiltered="vm.element.showOnlyFiltered" template="vm.element.template" params="vm.element.params"></livehtml>
    <vuetemplate  ng-style="{'background-color':vm.element.backgroundColor, 'padding': vm.element.padding + 'px'}" ng-if="vm.element.type == 'livehtml' && vm.element.subtype.startsWith('vueJS')" livecontent="vm.element.content" filters="vm.config" livecontentcode="vm.element.contentcode" datasource="vm.element.datasource" custommenuoptions="vm.element.customMenuOptions" ng-class="vm.elemntbodyclass()"    id="vm.element.id" datastatus="vm.datastatus" showonlyfiltered="vm.element.showOnlyFiltered" template="vm.element.template" params="vm.element.params"></vuetemplate>
    <reacttemplate  ng-style="{'background-color':vm.element.backgroundColor, 'padding': vm.element.padding + 'px'}" ng-if="vm.element.type == 'livehtml' && vm.element.subtype.startsWith('reactJS')" livecontent="vm.element.content" filters="vm.config" livecontentcode="vm.element.contentcode" datasource="vm.element.datasource" custommenuoptions="vm.element.customMenuOptions" ng-class="vm.elemntbodyclass()"    id="vm.element.id" datastatus="vm.datastatus" showonlyfiltered="vm.element.showOnlyFiltered" template="vm.element.template" params="vm.element.params"></reacttemplate>
    <gadget  ng-style="{'background-color':vm.element.backgroundColor, 'padding': vm.element.padding + 'px', 'display': 'inline-block', 'width': 'calc(100% - 40px)', 'position': 'absolute','top': '50%','left': '50%','transform': 'translate(-50%, -50%)'}" ng-if="vm.element.type != 'livehtml'&& vm.element.type != 'html5' && vm.element.type != 'gadgetfilter' && vm.element.type != 'datadiscovery'" ng-class="vm.elemntbodyclass()" id="vm.element.id"  datastatus="vm.datastatus" filters="vm.config"></gadget>
    <html5  ng-style="{'background-color':vm.element.backgroundColor, 'padding': vm.element.padding + 'px'}" ng-if="vm.element.type == 'html5'" livecontent="vm.element.content" datasource="vm.element.datasource"  ng-class="vm.elemntbodyclass()"    id="vm.element.id" ></html5>
    <datadiscovery  ng-style="{'background-color':vm.element.backgroundColor, 'padding': vm.element.padding + 'px', 'display': 'inline-block', 'width': 'calc(100% - 40px)', 'position': 'absolute','top': '50%','left': '50%','transform': 'translate(-50%, -50%)'}" ng-if="vm.element.type === 'datadiscovery'" ng-class="vm.elemntbodyclass()" id="vm.element.id"  datastatus="vm.datastatus" filters="vm.config"></datadiscovery>

  <md-content ng-style="{'background-color':vm.element.backgroundColor, 'padding':'0px 22px 22px 22px', 'height': 'calc(100% - '+ (vm.element.header.height+22) + 'px)'}"  ng-if="vm.element.type == 'gadgetfilter' && vm.element.header.enable">  
      <div id="__{{vm.element.id}}filters" class="ovfl">
          <filter id="vm.element.id" datasource="vm.element.datasource" config="vm.config" hidebuttonclear="vm.element.hidebuttonclear" buttonbig="false" ></filter> 
      </div>        
    </md-content>
 
 <md-content ng-style="{'background-color':vm.element.backgroundColor, 'padding':'0px 22px 22px 22px', 'height': 'calc(100% - 22px)'}"  ng-if="vm.element.type == 'gadgetfilter' && !vm.element.header.enable">  
      <div id="__{{vm.element.id}}filters" class="ovfl">
          <filter id="vm.element.id" datasource="vm.element.datasource" config="vm.config" hidebuttonclear="vm.element.hidebuttonclear" buttonbig="false" ></filter> 
      </div>        
    </md-content>

  </div>
</gridster-item>
