*#
*.iml
*.ipr
*.iws
!devops/build-deploy/docker/dockerfiles/zeppelin/*.jar
!devops/build-deploy/docker/dockerfiles/streamsets/onesaitplatform-streamsets/lib/*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.factorypath
.gradle
.idea
.metadata
.project
.rtecommenders
.settings
.springBeans
.vscode
/build
/code
MANIFEST.MF
_site/
activemq-data
bin
build
!sources/modules/control-panel/src/main/resources/static/dataflow/bower_components/nvd3/build
build.log
dependency-reduced-pom.xml
dump.rdb
interpolated*.xml
manifest.yml
overridedb.*
settings.xml
target
transaction-logs
.flattened-pom.xml
secrets.yml
