<ods-form v-model="dynamicValidateForm">
  <div class="default-form">
    <ods-row >
   <ods-col > 
         <span class="ods-form-item__label">REALTIME</span>  
          <ods-switch v-model="dynamicValidateForm.realtime" active-value="start" inactive-value="stop" style="padding-top: 10px;
          padding-left: 10px;" @change="realTimeChange">
          </ods-switch>
     
      </ods-col>
      </ods-row>
    <ods-row style=" height: 42px;" >
      <ods-col  v-if="dynamicValidateForm.realtime=='stop'">
        <ods-form-item > 
         <span class="ods-form-item__label">FROM</span>        
          <ods-date-picker v-model="dynamicValidateForm.intervalDates" type="datetimerange" range-separator="To"
            start-placeholder="Start date" @change="dateChange" end-placeholder="End date">
          </ods-date-picker>
        </ods-form-item>
      </ods-col>
      <ods-col  v-else>
        <ods-form-item >
          <ods-select v-model="dynamicValidateForm.selectedPeriod" placeholder="Select"  @change="periodChange">
            <ods-option v-for="item in dynamicValidateForm.options" :key="item.value" :label="item.label" :value="item.value">
            </ods-option>
          </ods-select>
        </ods-form-item>
      </ods-col>
     
    </ods-row>
  </div>
</ods-form>