/* CSS FOR ERROR TEMPLATES */

/* ---------- FONTS -------*/

@font-face {
  font-family: "JetBrains Mono";
  src: url("../font/jetbrainsmono/JetBrainsMono-Regular.eot");
  src: url("../font/jetbrainsmono/JetBrainsMono-Regular.woff2") format("woff2"),
    url("../font/jetbrainsmono/JetBrainsMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Soho";
  src: url("../font/soho/SohoGothicPro-Regular.eot");
  src: url("../font/soho/SohoGothicPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../font/soho/SohoGothicPro-Regular.woff") format("woff"),
    url("../font/soho/SohoGothicPro-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* ---- COMMON STYLES ---- */

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper > * {
  flex: 1 100%;
}

.header {
  background: white;
  display: none; /* left to later modifications */
}

.footer {
  background: white;
  display: flex;
  position: relative;
  justify-content: center;
}

.main {
  text-align: left;
  background: white;
}

.aside-1 {
  background: #fff;
  padding: 0 75px;
  max-width: 40% !important;
}

.aside-2 {
  background: #f0eff8;
  height: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
  display: flex;
  max-width: 60% !important;
}

.aside-2-401 {
  background: #dde6f3 !important;
}
.aside-2-403 {
  background: #dde6f3 !important;
}
.aside-2-402 {
  background: #bbcee7 !important;
}
.aside-2-503 {
  background: #f0eff8 !important;
}

body {
  padding: 0;
  margin: 0;
}

.error-title {
  font-family: "JetBrains Mono";
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #1b2c38;
  font-weight: 400;
}
.error-subtitle {
  font-family: Soho;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #505d66;
  margin: -25px 0 0 0;
  font-style: italic;
  font-weight: 400;
}

.error-message {
  font-family: Soho;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  font-weight: 400;
}

.error-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  position: relative;
  width: 120px;
  height: 40px;
  left: 0px;
  top: 20px;
  text-decoration: none;

  /* Bg/Interactive */
  font-family: Soho;
  background: #1168a6;
  border-radius: 2px;
  color: white;
}

.error-copyright {
  font-family: "JetBrains Mono";
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  position: absolute;
  bottom: 12px;
  left: 18%;
}
.error-logo {
  display: flex;
  position: absolute;
  top: 54px;
  left: 40px;
  width: 18% !important;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 0 0;
  }
  .error-copyright {
    left: 35% !important;
  }
  .aside-1 {
    max-width: 100% !important;
  }
  .aside-2 {
    max-width: 100% !important;
  }
  .error-logo {
    display: flex;
    position: absolute;
    top: 24px;
    left: auto;
    width: 30% !important;
    right: 10px;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .aside-2 {
    order: 3;
  }
  .footer {
    order: 4;
  }
  .error-copyright {
    left: 18% !important;
  }
  .error-logo {
    display: flex;
    position: absolute;
    top: 54px;
    left: 40px;
    width: 18% !important;
    right: auto;
  }
}

@media all and (max-height: 600px) {
  .error-logo {
    display: none;
  }
}
