<md-content style="height:100%" layout="column">
  <md-subheader flex="5" layout="row">
    <md-button aria-label="Reload Fields" ng-click='vm.reloadFields()' class="md-icon-button md-primary">
      <md-icon>replay</md-icon>
    </md-button>
    <label>{{vm.datasource.identification}}</label>
  </md-subheader>
  <hr></hr>
  <md-subheader class="md-secondary" flex="5">
    <md-icon class="md-secondary">view_list</md-icon>
    <span>Attributes</span>
  </md-subheader>
  <ul flex class="fieldPicker attrPicker" data-as-sortable="vm.dragPickerControl" data-ng-model="vm.fields" style="padding-left:0px;overflow-y:auto;overflow-x:hidden">  
    <li data-as-sortable-item data-as-sortable-item-handle data-ng-repeat="field in vm.fields" ng-click="null" class="datacolumn pickercolumn">
      <md-tooltip>{{field.field}}</md-tooltip>
      <label data-as-sortable-item-handle>
        <md-icon ng-if="field.type=='string'">line_weight</md-icon>
        <md-icon ng-if="field.type=='integer' || field.type=='number'">score</md-icon>
        <md-icon ng-if="field.type=='boolean'">exposure</md-icon>
        {{ field.field }}
      </label>
      <md-button aria-label="Clear Metric" ng-click='vm.removeAttr($index)' class="md-icon-button md-accent pull-right">
        <md-icon>clear</md-icon>
      </md-button>
    </li>
  </ul>
  
  <md-subheader class="md-primary" flex="5">
    <md-icon class="md-primary">insert_chart_outlined</md-icon>
    <span>Metrics</span>
  </md-subheader>
  <ul flex class="fieldPicker metricPicker" data-as-sortable="vm.dragPickerControl" data-ng-model="vm.metrics" style="padding-left:0px;overflow-y:auto;overflow-x:hidden">  
    <li data-as-sortable-item data-as-sortable-item-handle data-ng-repeat="field in vm.metrics" ng-click="null" class="datacolumn pickercolumn">
      <md-tooltip>{{field.field + ': ' + field.formula}}</md-tooltip>
      <label titledata-as-sortable-item-handle>
        <md-icon>functions</md-icon>
        {{ field.field }}
      </label>
      <md-button aria-label="Clear Metric" ng-click='vm.removeMetric($index)' class="md-icon-button md-accent  pull-right">
        <md-icon>clear</md-icon>
      </md-button>
      <md-button aria-label="Edit Metric" ng-click='vm.metricDialog($index)' class="md-icon-button md-primary  pull-right">
        <md-icon>edit</md-icon>
      </md-button>
    </li>
  </ul>
  <md-button ng-click='vm.metricDialog()' flex="5" style="padding-left:0px" class="addmetric md-raised">
    <md-icon>add</md-icon>
  </md-button>
</md-content> 