
## Config Web Server
server:
   port: 19000
   servlet.contextPath: /iot-broker
   jetty.max-http-post-size: 20000000   
   
master: 
   datasource:
      hikari: 
        jdbc-url: jdbc:mysql://localhost:3306/onesaitplatform_master_config?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false&autoReconnect=true
        username: root
        password: ENC(v6o0Jud8aASYCkRb+u0RTICFUR8Pd5ph) 
        driver-class-name: com.mysql.cj.jdbc.Driver
        pool-name: master-hikari-pool
        minimum-idle: 1
        maximum-pool-size: 2
        connection-timeout: 10000
spring:
  application.name: onesaitplatform-iot-broker
  datasource:
     hikari:
      jdbc-url: jdbc:mysql://localhost:3306/onesaitplatform_config?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=UTF-8&allowMultiQueries=true&useSSL=false&autoReconnect=true&nullDatabaseMeansCurrent=true
      username: root
      password: ENC(v6o0Jud8aASYCkRb+u0RTICFUR8Pd5ph) 
      connection-timeout: 10000
      driver-class-name: com.mysql.cj.jdbc.Driver
      minimum-idle: 10
      maximum-pool-size: 30
      
  jpa:
      open-in-view: false
      # The SQL dialect makes Hibernate generate better SQL for the chosen database
      properties.hibernate.dialect: org.hibernate.dialect.MySQL5InnoDBDialect
      hibernate.ddl-auto: none
      # Hibernate ddl auto (create, create-drop, validate, update
      properties:
        hibernate:
          #temp.use_jdbc_metadata_defaults: false
          format_sql: false
          show_sql: false
          ddl-auto: none
          
          #cache:
           # use_second_level_cache: false
            #use_query_cache: true
            #region.factory_class: com.hazelcast.hibernate.HazelcastCacheRegionFactory
            #hazelcast:
             # configuration_file_path: hazelcast-client.xml
              #use_native_client: true
              #native_client_address: localhost
              #native_client_group: onesaitplatform
              #native_client_password: onesaitplatform
                       
          
  boot.admin: #Spring Boot Admin Config   
      client.url: http://localhost:18100/monitoring
      client.username: operations
      client.password: changeIt2019!
      client.metadata.user.name: ${spring.boot.admin.username}
      client.metadata.user.password: ${spring.boot.admin.password}
      
management.endpoints.web.exposure.include: "*"
management.endpoint.health.show-details: always

spring.elasticsearch.jest.uris: ${onesaitplatform.database.elasticsearch.sql.connector.http.endpoint}
spring.elasticsearch.jest.read-timeout: ${onesaitplatform.database.elasticsearch.sql.connectionTimeout.millis}

    
onesaitplatform: #Config onesait Platform specific
  audit.global.notify: true
  database.elasticsearch:
      database: onesaitplatform_rtdb_es
      sql.maxHttpConnections: 10
      sql.maxHttpConnectionsPerRoute: 10
      sql.connectionTimeout.millis: 10000
      sql.connector.http.endpoint: http://localhost:9200
      url: localhost
      port: 9300
  
  router.avoidsslverification: true
  router.alternativeURL: http://localhost:20000/router/router/   
  router:
    client:
      rest:
        connect-timeout: 30000
        request-timeout: 30000
        socket-timeout: 60000
        max-total-connections: 100
        default-keep-alive-time-millis: 20000
        close-idle-connection-wait-time-secs: 30
  notifications.pool.subscription.attemps: 2
  iotbroker.audit.enabled: true
  iotbroker.plugable:
    gateway:
      stomp:
        enable: true
        pool: 200
        attemps: 2
        attemps_interval: 5
        subscription_topic: /topic/subscription
      moquette:
        enable: true
        port: 1883
        pool: 200
        host: 0.0.0.0
        store: moquette_store_bin.mapdb
        outbound_topic: /topic/message
        subscription_topic: /topic/subscription
        command_topic: /topic/command
        inbound_topic: /queue/message
        maxBytesInMessage: 8092
        ssl:
          enable: true
          port: 8883
          jks_path: develkeystore.jks
          keystore_password: changeIt!
          keymanager_password: changeIt!
      rest:
        enable: true
      kafka:
        enable: true
        brokers: none
        host: localhost
        port: 9095
        user: admin
        password: admin-secret
        partitions: 4
        replication: 1
        prefix: ONTOLOGY_
        group: ontologyGroup
        topic.pattern: ONTOLOGY(?!_OUTPUT).*
        router.topic: router
        consumer.consumersCount : 10
        consumer.seekTo : beginning 
        consumer.group : kafkaGroup
        consumer.maxPollRecords : 200
        consumer.maxAge : 5000
        ksql:
          in.prefix: intopic_
          out:
            prefix: KSQLDESTYNY_
            topic.pattern: KSQLDESTYNY.*
            
  iotbroker.device.update.schedule:
        enable: true
        delay.millis: 30000
  iotbroker.session.update.schedule:
        enable: true
        delay.millis: 30000
        
  iotbroker.devices.perclient.max: 20
  metrics:
        collector.endpoint: http://localhost:20000/router/metrics-collector/refresh
        enabled: false
        
## LOGGING CONF
logging:
   path: ./target/ 
   file: ${spring.application.name}
   level:
      com.minsait: INFO
      org.apache.kafka: ERROR
      org.springframework.boot: INFO
      org.hibernate.type: WARN
#      org.springframework.boot.autoconfigure: DEBUG

