-- project eclipse files
**/**/.classpath
**/**/.project
**/**/.settings
**/**/.factorypath
**/**/dependency-reduced-pom.xml
.metadata/

-- STS
**/**/.sts4-cache

-- traces
**/**/trazas
**/**/trazasCBP
**/**/*.log

--CSV
**/**/*.csv
*.springBeans