<style>
  .el-tooltip__popper.is-light {
    z-index: 9000000 !important;
  }

  .el-popover {
    z-index: 9000000 !important;
    padding: 0px;
    max-width: 300px
  }

  .img-container {
    text-align: center !important;
  }

  .img-container img {
    height: 35px !important;
  }

  .img-popup-container img {
    height: auto !important;
    min-height: 150px;
    max-width: 270px;
  }

  .text-container {
    padding-top: 14px;
  }

  .text-container > .label {
    font-weight:bold;
  }

  .el-popover--plain {
    padding: 0px !important
  }

  #leftsidemenu {
    font-size: 12px;
  }

  .el-card__body {
    padding: 10px;
  }

  .el-card__header {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    background-color:#f0f1f2;
  }
  .el-divider--horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 12px 0;
}
.apply-icons-grey {
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(162deg) brightness(93%) contrast(88%);
}
.leafstyle { 
  border: 1px solid #d7dadc;
    width: 93%;
    margin: 3px 2px 3px 2px;
    padding: 1px 2px 1px 10px;
    height: auto;
}

.is-leaf.el-tree-node__expand-icon.el-icon-caret-right{display: none;}
.el-tabs__item{ font-size: 12px;}

.gtype {
  text-align: center;
  height: 95px
}

.gtype .el-card{
  padding: '5px';
  transition: none;
  box-shadow: none !important;
  transition: none !important;
}

.cardcontainer {
  cursor: grab !important;
  z-index: 1000 !important;
  position: relative;
}

.gtype .el-card:hover {
  border: 1px solid #c7c8cc;
}

.gtype img{
  text-align: center;
  position: relative;
  z-index:-1000;
}

.gtype .text-container {
    padding-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    height: 29px;
    line-height: 15px;
    font-size: 12px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .gtype .text-container > .label {
    font-weight:initial;
  }

  #leftsidemenu .el-tabs__content {
    height: 90% !important;
    overflow: scroll !important;
  }

</style>

<div id="leftsidemenu">
  <el-card class="box-card" shadow="always" style="width: 100%;height: 99.5%;">
    <div slot="header"  class="clearfix">
      <span style="line-height: 40px;   font-size: 14px;      font-weight: 500;      color: #303133;">Gadgets</span>
      <el-button v-on:click="hideLeftSideMenu()" style="float: right; font-size: 18px!important;   padding-top: 8px;" type="text"><i  class="el-icon-close apply-icons-grey"></i></el-button>
    </div>
    <template>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane  label="Create" name="first">
          <el-input size="small" placeholder="Search" prefix-icon="el-icon-search" v-model="filterTextCreate">
          </el-input>
          <el-collapse :value="['Predefined']">
            <el-collapse-item :title="section.label" v-for="section in data" :name="section.label">
              <el-row :gutter="10">
                <el-col :span="8" class="gtype" v-for="elem in section.children" v-if="elem.label.toUpperCase().includes(filterTextCreate.toUpperCase())">
                  <!--elem.label.toUpperCase().indexOf(filterTextCreate.toUpperCase())-->
                  <el-card>
                    <el-popover :open-delay="opendelay" placement="right" trigger="hover">
                      <el-card :body-style="{ padding: '14px' }">
                        <div class="img-container img-popup-container">
                          <img :src="elem.image" class="image"/>
                        </div>
                        <div class="text-container">
                          <span class="label" v-html="elem.label"></span>
                          <div class="bottom">
                            <span v-html="elem.desc"></span>
                          </div>
                        </div>
                      </el-card>
                      <div slot="reference" draggable @dragstart="handleDragStartGrid(elem, $event)" class="cardcontainer">
                        <div class="img-container">
                          <img :src="elem.image" />
                        </div>
                        <div class="text-container">
                          <span class="label" v-if="elem.label.length<=24" v-html="elem.label"></span>
                          <span class="label" v-if="elem.label.length>24" v-html="elem.label.substring(0,24)+'...'"></span>
                        </div>
                      </div>
                    </el-popover>
                  </el-card>
                </el-col>
              </el-row>
            </el-collapse-item>
          </el-collapse>
          <!--<el-tree class="filter-tree" :data="data" :props="defaultProps" :filter-node-method="filterNode"
            style="overflow-y: auto; height: 80%;" @node-drag-start="handleDragStart" draggable :allow-drop="allowDrop"
            :allow-drag="allowDrag" node-key="id" :default-expanded-keys="['Predefined', 'Custom','Code']" ref="tree">
            <span class="custom-tree-node"  v-bind:class="{ leafstyle: data.drag}" slot-scope="{ node, data }">             
              <i v-if="data.new" class="el-icon-plus"></i>
              <img v-if="data.image && !data.new" style="height: 14px;padding-right: 6px;padding-top: 4px;"
                :src="data.image">
                <el-popover :open-delay="opendelay" placement="right" trigger="hover">
                  <el-card :body-style="{ padding: '14px' }">
                    <div class="img-container img-popup-container">
                      <img :src="data.image" class="image"/>
                    </div>
                    <div class="text-container">
                      <span class="label" v-html="node.label"></span>
                      <div class="bottom">
                        <span v-html="data.desc"></span>
                      </div>
                    </div>
                  </el-card>
                  <span slot="reference" v-if="!data.image" style="font-weight:bold" v-html="node.label"></span>
                  <span slot="reference" v-if="data.image && node.label.length<=24" v-html="node.label"></span>
                  <span slot="reference" v-if="data.image && node.label.length>24" v-html="node.label.substring(0,24)+'..'"></span>
                  
                </el-popover>
              <img v-if="data.drag" style=" height: 20px; float: right;" class="apply-icons-grey"
              src="/controlpanel/static/images/dashboards/drag.svg">           
            </span>
          </el-tree>-->

        </el-tab-pane>
        <el-tab-pane  label="Prebuild" name="second">
          <el-input size="small" placeholder="Search"   prefix-icon="el-icon-search" v-model="filterTextPrebuild">
          </el-input>
          <el-divider></el-divider>
          <el-tree class="filter-tree" :data="dataPrebuild" :props="defaultProps" :filter-node-method="filterNode"
            style="overflow-y: auto; height: 80%;" @node-drag-start="handleDragStart" draggable :allow-drop="allowDrop"
            :allow-drag="allowDrag" node-key="id" :default-expanded-keys="['Predefined', 'Custom']" ref="treePrebuild">
            <span class="custom-tree-node"  v-bind:class="{ leafstyle: data.drag}" slot-scope="{ node, data }">
              <img v-if="data.image" style="height: 14px; padding-right: 6px;padding-top: 4px;" :src="data.image">
              <el-tooltip :content="node.label" placement="right" :open-delay="opendelay" effect="light">
                <span v-if="!data.image" style="font-weight:bold" v-html="node.label"></span>
                <span v-if="data.image && node.label.length<=24" v-html="node.label"></span>
                <span v-if="data.image && node.label.length>24" v-html="node.label.substring(0,24)+'..'"></span>
              </el-tooltip>
              <img v-if="data.drag" style=" height: 20px; float: right;" class="apply-icons-grey"
              src="/controlpanel/static/images/dashboards/drag.svg">           
            </span>
          </el-tree>

        </el-tab-pane>
        <el-tab-pane  label="Favorites" name="third">
          <el-input size="small" placeholder="Search"   prefix-icon="el-icon-search" v-model="filterTextFavorite">
          </el-input>
          <el-divider></el-divider>
          <el-tree class="filter-tree" :data="dataFavorite" :props="defaultProps" :filter-node-method="filterNode"
            style="overflow-y: auto; height: 80%;" @node-drag-start="handleDragStart" draggable :allow-drop="allowDrop"
            :allow-drag="allowDrag" ref="treeFavorite">
            <span class="custom-tree-node"  v-bind:class="{ leafstyle: data.drag}" slot-scope="{ node, data }">
              <img v-if="data.image" style="height: 14px; padding-right: 6px;padding-top: 4px;" :src="data.image">
              <el-tooltip :content="node.label" placement="right" :open-delay="opendelay" effect="light">
                <span v-if="!data.image" style="font-weight:bold" v-html="node.label"></span>
                <span v-if="data.image && node.label.length<=24" v-html="node.label"></span>
                <span v-if="data.image && node.label.length>24" v-html="node.label.substring(0,24)+'..'"></span>
              </el-tooltip>
              <img v-if="data.drag" style=" height: 20px; float: right;" class="apply-icons-grey"
              src="/controlpanel/static/images/dashboards/drag.svg">           
            </span>
          </el-tree>

        </el-tab-pane>

      </el-tabs>
    </template>




  </el-card>



</div>