/* CUSTOM CSS STYLE OVERRIDE FOR ANGULAR-MATERIAL */
md-toolbar {
  font-size: 14px;
  min-height: 20px !important;
  width: 100%; 
  background-color: #ffffff;
 
}
.toolbarButtons{ margin-top: 4px; }
.md-button{ margin: 6px 4px; }
.md-button.md-icon-button {
  margin: 0px 3px 0px 0px;
  height: 24px;
  min-width: 0;
  line-height: 24px;
  padding: 0px;
  width: 24px;
  border-radius: 50%;
}
.md-button.md-fab.md-mini {
  line-height: 35px;
  width: 35px;
  height: 35px;
}

.header-title{    
  color: #060E14 ;
  font-family: "Soho";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 24px;


}

.header-page-title{   
  color: #888A91 ;
  font-family: "Soho";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 24px;


}
.sidenav-page-title{
  font-size: 13px;
  font-family: "Open sans", sans-serif;
  font-weight: bold;

}

.sidenav-page-icon{
  color: white;
    margin: 0px 6px 0px 0px !important;
}

.sidenav-subheader{
  font-size: 18px;
  font-weight: 400;
  font-family: Poppins,"Open sans", sans-serif;
  letter-spacing: -0.8px;
  color: #555;

}

.bold { font-weight: bold; }

 .addGadget-icon {
  color: white;
  font-size: 40px;
  margin-left: -3px;
 }



 .addGadget-sheet{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #60686b, #535c5f, #283940); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: wheat;
  webkit-box-shadow: 0 1px 15px 1px rgba(113,106,202,.3);
  -moz-box-shadow: 0 1px 15px 1px rgba(113,106,202,.3);
  box-shadow: 0 1px 15px 1px rgba(113,106,202,.3);
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 5px 5px 0px 0px;
 }

 .animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  opacity: 0;
}

table.md-table th.md-column {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: Soho;
  color: #6e767d;
}

.md-ripple-container{
  pointer-events: all
}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar{
  color: #0e668c;
  background: #0e668c;
}
md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
  color: #0e668c !important;
  background: #0e668c !important;
}
.md-tab{
  color: #888A91 ;
  font-family: "Soho";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 24px;

}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
  color: #0e668c;
}

.ods-picker-panel.ods-date-range-picker.ods-popper.has-time{
  z-index: 99999 !important;
}
.ods-input__icon.ods-range__close-icon{
  display: none  !important;
}
.ods-select-dropdown.ods-popper{
  z-index: 99999 !important;
}

.ods-form-item {
  margin-bottom: 5px  !important;
  margin-top: 5px  !important;
}

.badgesMarginRightEditMode {
  margin-right: 85px;
}

.badgesMarginRightNoEditMode {
  margin-right: 55px;
}
.warning::before {
  content:''!important;
  background-color:transparent !important;
}