{
 "query": {
    "bool": {
      "filter": [
        {
          "bool": {
            "must": [
              {
                "geo_shape": {
                 	"{{field}}": {
                        "shape" : {{{partial}}}
                        ,
                        "relation": "intersects"
                    }
                  ,
                  "ignore_unmapped": true,
                  "boost": 1
                }
              }
            ],
            "adjust_pure_negative": true,
            "boost": 1
          }
        }
      ],
      "adjust_pure_negative": true,
      "boost": 1
    }
  }
}