<md-dialog aria-label="Add Gadget">  
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>{{inline?"Inline ":""}} <b>{{element.template || config.template}}</b> config</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <b>X</b>
          </md-button>
        </div>
      </md-toolbar>
    <form ng-cloak>    
    <md-input-container ng-if="create && !inline" class="md-dialog-content">
      <label>Gadget Identification</label>
      <input type="text" name="identification" ng-model="dat.ident" pattern="[a-zA-Z0-9_-]*"/>
    </md-input-container>
    <md-input-container ng-if="create && !inline" class="md-dialog-content">
      <label>Gadget description</label>
      <input type="text" name="description" ng-model="dat.desc"/>
    </md-input-container>
    <div  flex="">
      <md-content>        
        <div id="gform">
          <gform-drawer :elements="list2" v-model="gformvalue"></gform-drawer>
        </div>
      </md-content>
    </div>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="save()">
        Ok
      </md-button>      
    </md-dialog-actions>
  </form>
</md-dialog>
