<md-dialog aria-label="Add Gadget">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Select Custom Gadget to add</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <b>X</b>
          </md-button>
        </div>
      </md-toolbar>
    <form ng-cloak>
   
      <md-input-container>
        <label>Select type</label>
        <md-select ng-model="template" md-on-open="loadTemplates()" md-on-change="loadGadgets()">
          <md-option ng-value="template" ng-repeat="template in templates"><em>{{template.identification}}</em></md-option>
        </md-select>
      </md-input-container>
    <md-input-container>
        <label>Select custom gadget</label>
        <md-select ng-model="gadget" md-on-open="loadGadgets()">
          <md-option ng-value="gadget" ng-repeat="gadget in gadgets"><em>{{gadget.identification}}</em></md-option>
        </md-select>
      </md-input-container>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-warm" ng-click="cancel()">
        Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="addGadget()">
        Add Gadget
      </md-button>
      <md-button class="md-raised md-primary" ng-click="newGadget()">
        New Gadget
      </md-button>
      <md-button class="md-raised md-primary" ng-click="newGadgetInline()">
        New Gadget Inline
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
