<md-dialog>
    <form ng-cloak>
        <md-dialog-content >
            <div class="md-dialog-content" layout="column" layout-align="center center" >
                <div class="md-dialog-alert-title" >Dashboard Editor</div>
                <div class="md-dialog-alert-text" >
                    Would you like to save Dashboard before Close?. 
                    If you close without saving the changes will be lost
                </div>
             </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center" >
            <md-button class="cancel-button"  ng-click="answer('CLOSE')">
                CLOSE
            </md-button>
            <md-button class="ok-button"  ng-click="answer('SAVE')">
                SAVE
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>