<md-dialog> 
  <form ng-cloak>
      <md-dialog-content >
          <div class="md-dialog-content" layout="column" layout-align="center center" >
              <div class="md-dialog-alert-title" >Dashboard Editor</div>
              <div class="md-dialog-alert-text" >
                This dashboard is being edited by another user. 
                Do you want to continue or back to the list?
              </div>
           </div>
      </md-dialog-content>
      <md-dialog-actions layout="row" layout-align="center center" >
          <md-button class="cancel-button"  ng-click="hide()">
              CONTINUE
          </md-button>
          <md-button class="ok-button"  ng-click="ok()">
              BACK
          </md-button>
      </md-dialog-actions>
  </form>
</md-dialog>