<md-dialog aria-label="Layers">
  <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Dashboard configuration</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <b>X</b>
          </md-button>
        </div>
      </md-toolbar>
  <form ng-cloak>
    <md-dialog-content>
        <md-subheader class="md-primary form-header">Gadgets Header:</md-subheader> 
        <div layout="row" layout-margin layout-align="left center"  style="margin: 10px 15px;">
            <md-checkbox flex="5" ng-model="style.header.enable" class="checkbox-adjust" placeholder="Enable Header">
                <md-tooltip md-direction="top">Enable/Disable Header</md-tooltip>
            </md-checkbox>
          <md-input-container flex="20">
            <input ng-model="style.header.height" type="number" placeholder="Header Height">
          </md-input-container>         
          <md-input-container flex="30">
            <label>Header Background</label>
            <color-picker flex="40" ng-model="style.header.backgroundColor"></color-picker>
          </md-input-container>         
      </div>
      <md-subheader class="md-primary form-header">Gadgets title:</md-subheader> 
      <div layout="row" layout-margin layout-align="left center"  style="margin: 10px 15px;">
          <md-input-container flex="30">
            <label>Header Text Color</label>
            <color-picker flex="50" ng-model="style.header.title.textColor"></color-picker>
          </md-input-container>
          <md-input-container flex="30">
            <label>Header Icon Color</label>
            <color-picker flex="50" ng-model="style.header.title.iconColor"></color-picker>
          </md-input-container>
      </div>
      <md-subheader class="md-primary form-header">Gadgets body:</md-subheader> 
      <div layout="row" layout-margin layout-align="left center"  style="margin: 10px 15px;">
          <md-input-container flex="30">
            <label>Body Background</label>
            <color-picker flex="100" ng-model="style.backgroundColor"></color-picker>
          </md-input-container>
          <md-input-container flex="50">
            <input ng-model="style.padding" type="number" placeholder="Content Padding">
          </md-input-container>
      </div>
      <div layout="row" layout-margin layout-align="left center"  style="margin: 10px 15px;">
        <md-input-container flex="33">
          <input ng-model="style.border.width" type="number" placeholder="Border width">
        </md-input-container>
        <md-input-container flex="33">
          <input ng-model="style.border.radius" type="number" placeholder="Corner Radius">
        </md-input-container>
        <md-input-container flex="30">
          <label>Border Color</label>
          <color-picker flex="33" ng-model="style.border.color"></color-picker>
        </md-input-container>
      </div>
      <md-subheader class="md-primary form-header">Gadgets Template:</md-subheader> 
      <div layout="row" layout-margin layout-align="left center"  style="margin: 10px 15px;">
        <md-checkbox flex="50" ng-model="style.nomargin" class="checkbox-adjust" placeholder="Hide button clean filters">
          No margin
        </md-checkbox>
      </div>


    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()" class="md-primary md-raised">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
