<md-dialog aria-label="Container">
    <md-toolbar> 
        <div class="md-toolbar-tools">
          <h2>Edit Filters</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-mousedown="cancel()">
            <b>X</b>
          </md-button>
        </div>
      </md-toolbar> 
  
  <form ng-cloak>
    <md-dialog-content layout-padding>     
        <md-subheader class="md-primary form-header">Filters:</md-subheader>
        <div layout="row" layout-margin layout-align="left center">
          <md-table-container style="margin-bottom: 12px;">
                <table md-table ng-model="element.filters" md-progress="promise">
                  <thead md-head>
                    <tr md-row>                     
                      <th md-column ><span>Identifier</span></th>                 
                      <th md-column ><span>Type Filter</span></th>                      
                      <th md-column> <span>Label Name</span></th>
                     
                      <th md-column> <span>Initially Filtered</span></th>
                      <th md-column> <span>Hidden</span></th>
                    
                      <th md-column> <span>Options</span></th>
                    </tr>
                  </thead>
                  <tbody md-body>
                    <tr md-row md-select="c" md-select-id="name" md-auto-select ng-repeat="c in element.filters">
                      <td md-cell>{{c.id}}</td> 
                      <td md-cell>{{c.type}}</td> 
                      <td md-cell>{{c.name}}</td> 
                    
                      <td md-cell> <md-checkbox  ng-disabled="true" ng-model="c.initialFilter" class="flex"></md-checkbox></td>
                      <td md-cell> <md-checkbox  ng-disabled="true" ng-model="c.hide" class="flex"></md-checkbox></td>
                      
                      <td md-cell>
                        <md-button class="md-icon-button md-primary" aria-label="Edit Connection" ng-click="editFilter(c.id)">
                            <md-icon>create</md-icon>
                        </md-button>
                        <md-button class="md-icon-button md-warn" aria-label="Delete connection" ng-click="deleteFilter(c.id)">
                            <md-icon>clear</md-icon>
                        </md-button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </md-table-container>
        
        </div>


    <md-subheader class="md-primary form-header">Add new filter:</md-subheader>
        <div layout="row" layout-margin layout-align="left center">
        <md-input-container class="md-block" flex="15" >
            <label>Identifier</label>
            <input class="flex" ng-model="tempFilter.id" required md-autofocus/>
          </md-input-container>

       

          <md-input-container class="md-block" flex="15"  style="padding-bottom: 25px!important;">
            <label>Type Filter</label>
            <md-select ng-model="tempFilter.type"  aria-label="type filter"
                        placeholder="Type Filter" class="flex" md-on-open="hideFields()" ng-change="hideFields(tempFilter.type)">
              <md-option ng-repeat="typeElement in typeList" ng-value="typeElement.id">{{typeElement.description}}</md-option>
            </md-select>
          </md-input-container>

         <!-- <md-input-container class="md-block" flex="15"  style="padding-bottom: 25px!important;">
            <label>Target Field</label>
            <input class="flex"  list=tempFiltertypelist ng-model="tempFilter.type" ng-change="hideFields(tempFilter.type)"/>
            <datalist id=tempFiltertypelist>
            <option  ng-repeat="typeElement in typeList" ng-value="typeElement.id">{{typeElement.description}}</option>          
            </datalist>
          </md-input-container>-->
       

      

          <md-input-container class="md-block" flex="15">
          <label>Target Field</label>
          <input class="flex"  list=targetGadgetFieldlist ng-model="targetGadgetField" />
          <datalist id=targetGadgetFieldlist>
          <option  ng-repeat="field in gadgetTargetFields" ng-value="field.field">{{field.field}}</option>          
          </datalist>
        </md-input-container>
     

          <md-checkbox flex="15" ng-model="tempFilter.initialFilter"  ng-hide="hideInitialFilter" class="checkbox-adjust" placeholder="Initially filtered">
            Initially filtered
          </md-checkbox>

          <md-checkbox flex="15" ng-model="tempFilter.hide" class="checkbox-adjust" ng-hide="hideHide" placeholder="Hidden filter">
            Hide
          </md-checkbox>
        </div>
      <div layout="row" layout-margin layout-align="left center" >
          <md-input-container ng-hide="hideLabelName" class="md-block" flex-gt-sm>
              <label>label Name</label>
              <input ng-model="tempFilter.name"  md-autofocus>
            </md-input-container>
  
            <md-input-container ng-hide="hideDatasource" class="md-block" flex="15" style="margin-bottom: 32px;">
            <label>Datasource</label>
            <md-select required md-autofocus placeholder="Select datasource" ng-model="tempFilter.data.ds" ng-model-options="{trackBy: '$value'}" md-on-open="loadDatasources()" ng-change="setdsTargetFields()" >
              <md-option value=""></md-option>
              <md-option ng-value="datasource.identification" ng-repeat="datasource in datasources">{{datasource.identification}}</md-option>
            </md-select>
          </md-input-container>
          
          <md-input-container ng-hide="hideDatasource" class="md-block" flex="15">
            <label>Options Values</label>
            <input class="flex"  list=targetfieldlistopt ng-model="tempFilter.data.dsFieldValue" />
            <datalist id="targetfieldlistopt">
            <option  ng-repeat="field in dsTargetFields" ng-value="field.field">{{field.field}}</option>          
            </datalist>
          </md-input-container>
  
          <md-input-container ng-hide="hideDatasource" class="md-block" flex="15">
            <label>Options Descriptions</label>
            <input class="flex"  list=targetfieldlistdesc ng-model="tempFilter.data.dsFieldDes" />
            <datalist id="targetfieldlistdesc">
            <option  ng-repeat="field in dsTargetFields" ng-value="field.field">{{field.field}}</option>          
            </datalist>
          </md-input-container>

            <md-input-container ng-hide="hideOperator" class="md-block"  style="padding-bottom: 25px!important;"flex-gt-sm>
              <label>Operator</label>
              <md-select ng-model="tempFilter.op" aria-label="Operator"
                          placeholder="Operator" class="flex" >
                <md-option ng-repeat="opElement in opList" ng-value="opElement.id">{{opElement.description}}</md-option>
              </md-select>
            </md-input-container>
  
            <md-input-container class="md-block" flex-gt-sm ng-hide="hideValue">
                <label>Value</label>
                <input ng-model="tempFilter.value"  md-autofocus>
              </md-input-container>
         
         
         
              <md-list ng-hide="hideOptions">


              <md-list-item class="md-no-proxy">
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Value</label>
                  <input ng-model="option"  md-autofocus>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                  <label>Description</label>
                  <input ng-model="description"  md-autofocus>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <md-button class="md-icon-button md-primary" aria-label="Add Option" ng-click="addOption(option,description)">
                      <md-icon>add</md-icon>
                    </md-button>
                  </md-input-container>
              </md-list-item>
          </md-list>
          <md-table-container style="margin-bottom: 12px;" ng-hide="hideOptions">
              <table md-table ng-model="tempFilter.data.options" md-progress="promise">
                <thead md-head>
                  <tr md-row>                     
                    <th md-column ><span>Value</span></th>
                    <th md-column ><span>Description</span></th>                                
                    <th md-column> <span> </span></th>
                  </tr>
                </thead>
                <tbody md-body>
                  <tr md-row md-select="opts" md-select-id="name" md-auto-select ng-repeat="opts in tempFilter.data.options">
                    <td md-cell>{{opts}}</td> 
                    <td md-cell>{{tempFilter.data.optionsDescription[$index]}}</td>               
                    <td md-cell>                          
                      <md-button class="md-icon-button md-warn" aria-label="Delete target" ng-click="deleteOption(opts)">
                          <md-icon>clear</md-icon>
                      </md-button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </md-table-container>
      </div>
      <md-subheader ng-if="element.type!='gadgetfilter'" class="md-primary form-header">Filter layout:</md-subheader>
      <div layout="row"  ng-if="element.type!='gadgetfilter'" layout-margin layout-align="left center">         
          <md-checkbox flex="50" ng-model="element.filtersInModal" class="checkbox-adjust" placeholder="Show filters in modal">
            Show filters in modal
          </md-checkbox>
          <md-checkbox flex="50" ng-model="element.hideBadges" class="checkbox-adjust" placeholder="Hide active filters">
            Hide active filters
          </md-checkbox>
          <md-checkbox flex="50" ng-model="element.hidebuttonclear" class="checkbox-adjust" placeholder="Hide button clean filters">
            Hide button clean filters
          </md-checkbox>
      </div>
   
             
    

    </md-dialog-content>
  
  </form>
  <md-dialog-actions layout="row">

    <md-input-container class="md-block" >           
        <md-button ng-mousedown="addFilter()" class="md-raised md-primary">
          CREATE
        </md-button>
      </md-input-container>
      <md-input-container class="md-block" >           
  <md-button ng-mousedown="hide()" class="md-raised md-primary">
    Close
  </md-button>
</md-input-container>
</md-dialog-actions>
</md-dialog>
