 
<div ng-class="ed.toolbarButtonsAssignclass()" id="toolbarButtonsEdition" layout="row" layout-align="right right" style="z-index:9000; margin-top: 12px;">
<md-button ng-if="ed.showHideMoveToolBarButton()" style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important; margin-left: 8px!important;" id="toolbarButtonsEditionMove" class="md-fab md-primary  md-mini md-hue-2 transparent-color"  aria-label="Move toolbar buttons">
    <md-tooltip md-direction="bottom">Move toolbar buttons</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/Icon_move_horizontal.svg">
</md-button>
<!--<md-button style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important" ng-if="ed.synopticedit.showSynoptic && ed.synopticedit.showEditor" ng-disabled="!ed.synopticedit.showEditor" class="md-fab md-primary  md-mini md-hue-2 transparent-color" ng-click="ed.saveSynoptic()" aria-label="Save Synoptic">
    <md-tooltip md-direction="bottom">Save Synoptic</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/icon_button_save.svg">
</md-button>-->

<!--<span ng-if="ed.synopticedit.showSynoptic && ed.synopticedit.showEditor" >
  <md-switch class="md-primary"  md-no-ink aria-label="Show Gadgets" ng-click="ed.changeZindexEditor()">
  </md-switch>
  <md-tooltip ng-if="ed.synopticedit.zindexEditor==0" md-direction="bottom">Hide Gadgets</md-tooltip>
  <md-tooltip ng-if="ed.synopticedit.zindexEditor!=0" md-direction="bottom">Show Gadgets</md-tooltip>
</span>--> 

<span ng-if="ed.synopticedit.showSynoptic">
  <md-switch class="md-primary" md-no-ink aria-label="Hide editor" ng-click="ed.hideShowSynopticEditor()">
  </md-switch>
  <md-tooltip ng-if="ed.synopticedit.showEditor" md-direction="bottom">Hide editor</md-tooltip>
  <md-tooltip ng-if="!ed.synopticedit.showEditor" md-direction="bottom">Show editor</md-tooltip>
</span> 

  <md-button ng-if="ed.showHideAddElementButton()"  ng-disabled="ed.synopticedit.showSynoptic && ed.synopticedit.showEditor" style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important;" class="md-fab md-mini md-warn transparent-color" ng-click="ed.showListBottomSheet()" aria-label="Add Element">
    <md-tooltip md-direction="bottom">Add Element</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/icon_button_plus.svg">
  </md-button>
  
  <md-button ng-if="ed.showHideDataLinkButton()"  style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important;" class="md-fab md-mini md-warn transparent-color" ng-click="ed.showDatalink()" aria-label="Show datalink">
    <md-tooltip md-direction="bottom">Datalink</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/icon_button_arrows.svg">
  </md-button>

  <md-button ng-if="ed.showHideUrlParameterButton()"  style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important;" class="md-fab md-mini md-warn transparent-color" ng-click="ed.showUrlParam()" aria-label="Show URL Parameters">
    <md-tooltip md-direction="bottom">URL Parameters</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/icon_button_triangle.svg">
  </md-button>
 
  <md-menu ng-if="ed.showHideConfigButton()"  md-offset="0 60">
    <md-button aria-label="Open menu with custom trigger" style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important;" class="md-fab md-warn md-mini transparent-color" ng-click="$mdMenu.open()">
      <img src="/controlpanel/static/images/dashboards/icon_button_boxes.svg">
    </md-button>
    <md-menu-content width="2">
      <md-menu-item>
        <md-button aria-label="Pages" ng-click="ed.pagesEdit()">
          <img src="/controlpanel/static/images/dashboards/icon_menu_pages.svg">
          <span>Pages</span>     
        </md-button>      
      </md-menu-item>
   
      <md-menu-item>
        <md-button aria-label="Configure Dashboard" ng-click="ed.dashboardEdit()">
          <img src="/controlpanel/static/images/dashboards/icon_menu_preferences.svg">
          <span>Configuration</span>
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="Dashboard Style" ng-click="ed.dashboardStyleEdit()">
          <img src="/controlpanel/static/images/dashboards/icon_menu_style.svg">
          <span>Styled</span>
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="Dashboard Style" ng-click="ed.dashboardHistoricalEdit()">
          <img src="/controlpanel/static/images/dashboards/edit.svg">
          <span>Historical</span>
        </md-button>
      </md-menu-item>
      <md-menu-item ng-if="ed.dashboard.showfavoritesg">
        <md-button aria-label="Dashboard Style" ng-click="ed.favoriteGadgetsList()">
          <img src="/controlpanel/static/images/dashboards/star-default.svg">
          <span>Favorite Gadgets</span>
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button aria-label="Header Libs" ng-click="ed.dashboardHeaderLibs()">
          <img height=18 src="/controlpanel/static/images/dashboards/icon_live_html.svg">
          <span>Header Libs</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-button style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important;" class="md-fab md-primary  md-mini md-hue-2 transparent-color" ng-click="ed.savePage()" aria-label="Save Dashboard">
    <md-tooltip md-direction="bottom">Save Dashboard</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/icon_button_save.svg">
  </md-button>
  <md-button ng-if="ed.showHideTrashButton()" style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important;" class="md-fab md-primary  md-mini md-hue-2 transparent-color" ng-click="ed.deleteDashboard()" aria-label="Delete Dashboard">
    <md-tooltip md-direction="bottom">Delete Dashboard</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/icon_button_bin.svg">
  </md-button>
  <md-button ng-if="ed.showHideCloseButton()" style="min-width:35px !important; margin-left: 8px!important;margin-right: 8px!important;margin-top:6px !important;" class="md-fab md-primary  md-mini md-hue-2 transparent-color" ng-click="ed.closeDashboard()" aria-label="Close Dashboard Editor">
    <md-tooltip md-direction="bottom">Close Dashboard Editor</md-tooltip>
    <img src="/controlpanel/static/images/dashboards/icon_button_cross.svg">
  </md-button>
</div>
