<md-dialog aria-label="Pages">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Favorite Gadgets</h2> 
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <b>X</b>
      </md-button>
    </div>
  </md-toolbar>  
  <form ng-cloak>
    <md-dialog-content>     
     
      <md-table-container style="margin-bottom: 12px;">
        <table md-table ng-model="identifications" md-progress="promise">
          <thead md-head>
            <tr md-row>
              <th md-column ><span>identification</span></th>         
              <th md-column> <span>Delete</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="c" md-select-id="name" md-auto-select ng-repeat="c in identifications">
              <td md-cell>{{c}}</td>              
              <td md-cell>
                <md-button class="md-icon-button md-warn md-button ng-scope md-ink-ripple" aria-label="Select" ng-click="delete(c)">
                  <md-icon>clear</md-icon>
              </md-button>
              </td>             
            </tr>
          </tbody>
        </table>
      </md-table-container>
      
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
     
      <md-button ng-click="hide()" class="md-raised md-primary">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
