<md-dialog aria-label="Mandatory Parameters">  
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Select a content for mandatory parameters</h2>         
        </div>
      </md-toolbar>
    <form ng-cloak>    
  
    <div  flex="">
      <md-content>        
        <md-list class="md-dense" flex="">         
          <md-list-item class="md-3-line" ng-repeat="item in parameters">
              <div class="md-list-item-text" layout="column">            
              <md-input-container  class="md-dialog-content">
               <p>{{ item.name }}</p>
              <input type="text" ng-model="item.val"/>
            </md-input-container>
            </div>
          </md-list-item>
   
        </md-list>
      </md-content>
    </div>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="save()">
        Ok
      </md-button>      
    </md-dialog-actions>
  </form>
</md-dialog>
