<md-dialog>
    <form ng-cloak>
        <md-dialog-content >
            <div class="md-dialog-content" layout="column" layout-align="center center" >
                <div class="md-dialog-alert-title" ><span ng-if="!showSynoptic">Dashboard Editor</span><span ng-if="showSynoptic">Synoptic Editor</span></div>
                <div class="md-dialog-alert-text" >
                    <span ng-if="!showSynoptic">Your dashboard was successfully saved!</span><span ng-if="showSynoptic">Your synoptic was successfully saved!</span>
                </div>
             </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center" >
            <md-button class="md-raised md-primary"  ng-click="answer('OK')">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>