<md-dialog>
    <form ng-cloak>
        <md-dialog-content >
            <div class="md-dialog-content" layout="column" layout-align="center center" >
                <div class="md-dialog-alert-title" >Dashboard Editor</div>
                <div class="md-dialog-alert-text" >
                    Your dashboard was successfully saved!
                </div>
             </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="center center" >
            <md-button class="md-raised md-primary"  ng-click="answer('OK')">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>