<md-dialog aria-label="Layers">
    <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Save As Prebuild Gadget</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="cancel()">
            <b>X</b>
          </md-button>
        </div>
      </md-toolbar>
    <form ng-cloak>
    
    
    <md-dialog-content>
      <md-subheader class="md-primary form-header">Type indentification and descripcion to save as Prebuild Gadget</md-subheader> 
      <div layout="row" style="margin-top:25px;">
        <md-input-container  flex="100" class="md-block">
          <label>Identification</label>
          <input ng-model="identification" minlength="5" maxlength="255" ng-pattern="/^[a-zA-Z_0-9]+$/" md-autofocus placeholder="Type more than 5 characters">
        </md-input-container>
      </div>
      <div layout="row" style="margin-top:25px;">
        <md-input-container flex="100" class="md-block">
          <label>Description</label>
          <textarea ng-model="description" minlength="5" maxlength="512" rows="2" placeholder="Type more than 5 characters">
        </md-input-container>
      </div>
    </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="hide()" class="md-raised md-secondary">
        Cancel
      </md-button>
      <md-button ng-disabled="!(identification.length >=5 && identification.length <=255 && description.length >=5 && description.length <=512)" ng-click="saveAsPrebuildGadget()" class="md-primary md-raised">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
