.noteAction{
	z-index: 5 !important;
	background-color: #F0F1F2;
	font-family: "soho";
	top: 72px !important;
	height: 49px;
	border-bottom: #D7DADC;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    box-shadow: none;
    min-height: 49px
}
.noteAction .labelBtn {
	padding-top: 0px;
	padding-bottom: 0px;
}
 .noteAction .btn{
 	background-color: #F0F1F2;
 }
 .noteAction .caretSeparator {
 	height: 20px
 }
.noteAction .form-control-static2 {
	font-size: 17px !important;
	margin-left: 0px;
	padding-left: 0px;
	font-weight: 500;
	color: #060E14
}
.job .control {
	margin-right: 55px;
}
.mainrow [class^="icon-"], .mainrow [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'Simple-Line-Icons' !important;
	height: 16px;
	width: 16px
}
.mainrow [class*=" fa-"] {
	height: 16px;
}
.notebookContent {
	padding-top: 24px
}
.dropdown-submenu-position {
	left: 63px;
	top: -2px;
}
.icon-logout:before {
    content: "\e942" !important;
}
.icon-info:before {
content: "\e948" !important;
}
.icon-user:before {
    content: "\e905" !important;
}
.icon-support:before {
    content: "\e911" !important;
}
