.item {
  border-bottom: 1px solid;
  border-color: rgb(221, 218, 218);
  padding: 7px;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 14px Base

}
.botton-desc{
  padding: 0px !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-left: -20px !important;
  border: none !important;
}
.bottom-light-border {
  padding-top: 15px;
  border-bottom: 1px solid rgb(221, 218, 218);
  padding-left: 10px
}
.el-checkbox {
  margin-top: 8px
}
#gform .el-form-item {
  margin-bottom: 11px;
  margin-top: 11px
}
b.el-form-item__label {
  line-height: 28px;
}
#rightsidemenu .el-form-item__label {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
#gform .el-form-item__content{
	display:block;
}

#rightsidemenu .el-popover--plain {
	padding: 5px !important
}

#gform .section{
font-size: 14px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#gform .sub-section{
font-size: 12px;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#gform .el-color-picker__trigger{
	width:100%;
}
#gform > div > form > span > span > div > .el-collapse-item__wrap {
   
    margin-left: -15px
   
}

#gform > div > form > span > span > div > div > .el-collapse-item__header {
   
    margin-left: -7px !important
   
}

#gform .el-collapse-item__header {
   
    margin-left: 15px
   
}

.el-collapse-item__header {
 
    /* background-color: #FFF0!important; */
   
}