.main-box {
  padding: 2rem;
  background-color: #fff;
  margin: 1rem;
}
.form-box {
  margin-top: 2rem;
}
.text-right {
  text-align: right;
}
.logo-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;

  /* Ajusta el tamaño y los márgenes según tus necesidades */
}
.logo-box {
  background-color: #fff;
  padding: 1rem;
  border-bottom: 1px solid #d7dadc;
  justify-content: space-between;

  display: flex;
  align-items: center;
}
.form-title {
  margin-bottom: 1rem;
}
body {
  background-color: #f7f8f8 !important;
}
.hide-element {
  display: none !important;
}
.loading {
  display: flex;
}
.table {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1 1;
  width: 100%;
  max-width: 100%;
  background-color: var(--color-bg-primary);
  font-size: 0.75rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1rem;
  color: var(--color-txt-primary);
}
thead {
  table-layout: fixed;
  border-collapse: separate;
  color: #505d66;
  font-size: 0.6875rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1rem;
}
tr {
  background-color: #fff;
}
th {
  background-color: #f0f1f2 !important;
}
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none !important;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6 !important;
}
td {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
}
td:not(:has(button)) {
  padding-top: 20px !important;
}
.text-info {
  display: flex;
  place-content: center;
  text-align: center;
}
.text-info > p {
  color: black !important;
}
.input-group{
	    padding-left: 2px!important;
	}

  
@font-face {
  font-family: "op-icon";
  src: url(../../../static/font/media/op-icon.eot); /* IE9*/
  src: url(../../../static/font/media/op-icon.eot#iefix) format("embedded-opentype"), url(../../../static/font/media/op-icon.woff2) format("woff2"), url(../../../static/font/media/op-icon.woff) format("woff"), url(../../../static/font/media/op-icon.ttf) format("truetype"); 
}
[class^=op-icon-], [class*=" op-icon-"] {
  font-family: "op-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.op-icon-action-redo:before {
  content: "\ea01";
}

.op-icon-action-undo:before {
  content: "\ea02";
}

.op-icon-add-panel:before {
  content: "\ea03";
}

.op-icon-admin:before {
  content: "\ea04";
}

.op-icon-ahorro-euro:before {
  content: "\ea05";
}

.op-icon-ahorro:before {
  content: "\ea06";
}

.op-icon-alarm:before {
  content: "\ea07";
}

.op-icon-amazon:before {
  content: "\ea08";
}

.op-icon-api-manager:before {
  content: "\ea09";
}

.op-icon-app:before {
  content: "\ea0a";
}

.op-icon-arrow-down-default:before {
  content: "\ea0b";
}

.op-icon-arrow-down-large:before {
  content: "\ea0c";
}

.op-icon-arrow-down-left-large:before {
  content: "\ea0d";
}

.op-icon-arrow-down-left-small:before {
  content: "\ea0e";
}

.op-icon-arrow-down-left:before {
  content: "\ea0f";
}

.op-icon-arrow-down-right-large:before {
  content: "\ea10";
}

.op-icon-arrow-down-right-small:before {
  content: "\ea11";
}

.op-icon-arrow-down-right:before {
  content: "\ea12";
}

.op-icon-arrow-down-small:before {
  content: "\ea13";
}

.op-icon-arrow-left-large:before {
  content: "\ea14";
}

.op-icon-arrow-left-small:before {
  content: "\ea15";
}

.op-icon-arrow-left:before {
  content: "\ea16";
}

.op-icon-arrow-right-large:before {
  content: "\ea17";
}

.op-icon-arrow-right-small:before {
  content: "\ea18";
}

.op-icon-arrow-right:before {
  content: "\ea19";
}

.op-icon-arrow-up-default:before {
  content: "\ea1a";
}

.op-icon-arrow-up-large:before {
  content: "\ea1b";
}

.op-icon-arrow-up-left-large:before {
  content: "\ea1c";
}

.op-icon-arrow-up-left-small:before {
  content: "\ea1d";
}

.op-icon-arrow-up-left:before {
  content: "\ea1e";
}

.op-icon-arrow-up-right-large:before {
  content: "\ea1f";
}

.op-icon-arrow-up-right-small:before {
  content: "\ea20";
}

.op-icon-arrow-up-right:before {
  content: "\ea21";
}

.op-icon-arrow-up-small:before {
  content: "\ea22";
}

.op-icon-art-tools:before {
  content: "\ea23";
}

.op-icon-audit:before {
  content: "\ea24";
}

.op-icon-batch-process:before {
  content: "\ea25";
}

.op-icon-bicycle:before {
  content: "\ea26";
}

.op-icon-bill:before {
  content: "\ea27";
}

.op-icon-book-open:before {
  content: "\ea28";
}

.op-icon-book:before {
  content: "\ea29";
}

.op-icon-bottle-error:before {
  content: "\ea2a";
}

.op-icon-bottle-glass:before {
  content: "\ea2b";
}

.op-icon-bottle-new:before {
  content: "\ea2c";
}

.op-icon-bottle-pending:before {
  content: "\ea2d";
}

.op-icon-bottle-success:before {
  content: "\ea2e";
}

.op-icon-bottle-washed:before {
  content: "\ea2f";
}

.op-icon-bottle-washing:before {
  content: "\ea30";
}

.op-icon-bottle:before {
  content: "\ea31";
}

.op-icon-broadcast:before {
  content: "\ea32";
}

.op-icon-bullhorn:before {
  content: "\ea33";
}

.op-icon-calculator:before {
  content: "\ea34";
}

.op-icon-calendar-add:before {
  content: "\ea35";
}

.op-icon-calendar-cancel:before {
  content: "\ea36";
}

.op-icon-calendar-change:before {
  content: "\ea37";
}

.op-icon-calendar-minus:before {
  content: "\ea38";
}

.op-icon-calendar-ok:before {
  content: "\ea39";
}

.op-icon-calendar-previous:before {
  content: "\ea3a";
}

.op-icon-calendar-schedule:before {
  content: "\ea3b";
}

.op-icon-calendar:before {
  content: "\ea3c";
}

.op-icon-camera-add:before {
  content: "\ea3d";
}

.op-icon-camera:before {
  content: "\ea3e";
}

.op-icon-car:before {
  content: "\ea3f";
}

.op-icon-carbon-assets:before {
  content: "\ea40";
}

.op-icon-carbon-industry:before {
  content: "\ea41";
}

.op-icon-card:before {
  content: "\ea42";
}

.op-icon-cards:before {
  content: "\ea43";
}

.op-icon-carousel-chevron-left:before {
  content: "\ea44";
}

.op-icon-carousel-chevron-right:before {
  content: "\ea45";
}

.op-icon-cashier-euro:before {
  content: "\ea46";
}

.op-icon-cashier:before {
  content: "\ea47";
}

.op-icon-central-point:before {
  content: "\ea48";
}

.op-icon-central:before {
  content: "\ea49";
}

.op-icon-chart-bar-down:before {
  content: "\ea4a";
}

.op-icon-chart-bar-up:before {
  content: "\ea4b";
}

.op-icon-chart-bar:before {
  content: "\ea4c";
}

.op-icon-chart-line:before {
  content: "\ea4d";
}

.op-icon-checkmark-2:before {
  content: "\ea4e";
}

.op-icon-checksignal-chat-double:before {
  content: "\ea4f";
}

.op-icon-checksignal-chat:before {
  content: "\ea50";
}

.op-icon-chevron-down-large:before {
  content: "\ea51";
}

.op-icon-chevron-down-small:before {
  content: "\ea52";
}

.op-icon-chevron-down:before {
  content: "\ea53";
}

.op-icon-chevron-left-large:before {
  content: "\ea54";
}

.op-icon-chevron-left-small:before {
  content: "\ea55";
}

.op-icon-chevron-left:before {
  content: "\ea56";
}

.op-icon-chevron-right-large:before {
  content: "\ea57";
}

.op-icon-chevron-right-small:before {
  content: "\ea58";
}

.op-icon-chevron-right:before {
  content: "\ea59";
}

.op-icon-chevron-up-large:before {
  content: "\ea5a";
}

.op-icon-chevron-up-small:before {
  content: "\ea5b";
}

.op-icon-chevron-up:before {
  content: "\ea5c";
}

.op-icon-chrome:before {
  content: "\ea5d";
}

.op-icon-chrono:before {
  content: "\ea5e";
}

.op-icon-circle:before {
  content: "\ea5f";
}

.op-icon-clip:before {
  content: "\ea60";
}

.op-icon-clock:before {
  content: "\ea61";
}

.op-icon-close:before {
  content: "\ea62";
}

.op-icon-closed-alert:before {
  content: "\ea63";
}

.op-icon-cloud:before {
  content: "\ea64";
}

.op-icon-coffee:before {
  content: "\ea65";
}

.op-icon-colorpicker:before {
  content: "\ea66";
}

.op-icon-comments:before {
  content: "\ea67";
}

.op-icon-company:before {
  content: "\ea68";
}

.op-icon-cone:before {
  content: "\ea69";
}

.op-icon-config:before {
  content: "\ea6a";
}

.op-icon-configure:before {
  content: "\ea6b";
}

.op-icon-connect:before {
  content: "\ea6c";
}

.op-icon-control:before {
  content: "\ea6d";
}

.op-icon-cool:before {
  content: "\ea6e";
}

.op-icon-coordinates-view:before {
  content: "\ea6f";
}

.op-icon-coordinates:before {
  content: "\ea70";
}

.op-icon-copy:before {
  content: "\ea71";
}

.op-icon-crew:before {
  content: "\ea72";
}

.op-icon-cut:before {
  content: "\ea73";
}

.op-icon-damage:before {
  content: "\ea74";
}

.op-icon-dashboard-chart:before {
  content: "\ea75";
}

.op-icon-dashboard:before {
  content: "\ea76";
}

.op-icon-database:before {
  content: "\ea77";
}

.op-icon-delete:before {
  content: "\ea78";
}

.op-icon-deliver-open:before {
  content: "\ea79";
}

.op-icon-deliver:before {
  content: "\ea7a";
}

.op-icon-delivery-note:before {
  content: "\ea7b";
}

.op-icon-digital-broker:before {
  content: "\ea7c";
}

.op-icon-disable:before {
  content: "\ea7d";
}

.op-icon-disconnect:before {
  content: "\ea7e";
}

.op-icon-dislike:before {
  content: "\ea7f";
}

.op-icon-door:before {
  content: "\ea80";
}

.op-icon-double-bottom:before {
  content: "\ea81";
}

.op-icon-double-left:before {
  content: "\ea82";
}

.op-icon-double-right:before {
  content: "\ea83";
}

.op-icon-double-top:before {
  content: "\ea84";
}

.op-icon-download:before {
  content: "\ea85";
}

.op-icon-drag-dots:before {
  content: "\ea86";
}

.op-icon-drag-drop:before {
  content: "\ea87";
}

.op-icon-drag:before {
  content: "\ea88";
}

.op-icon-dumpster-isle:before {
  content: "\ea89";
}

.op-icon-dumpster:before {
  content: "\ea8a";
}

.op-icon-edit:before {
  content: "\ea8b";
}

.op-icon-entities:before {
  content: "\ea8c";
}

.op-icon-entity:before {
  content: "\ea8d";
}

.op-icon-envelope:before {
  content: "\ea8e";
}

.op-icon-eolic-2:before {
  content: "\ea8f";
}

.op-icon-eolic:before {
  content: "\ea90";
}

.op-icon-equal:before {
  content: "\ea91";
}

.op-icon-equivalent:before {
  content: "\ea92";
}

.op-icon-eraser-2:before {
  content: "\ea93";
}

.op-icon-eraser:before {
  content: "\ea94";
}

.op-icon-error-alert:before {
  content: "\ea95";
}

.op-icon-error-large:before {
  content: "\ea96";
}

.op-icon-error-small:before {
  content: "\ea97";
}

.op-icon-error-xlarge:before {
  content: "\ea98";
}

.op-icon-error:before {
  content: "\ea99";
}

.op-icon-exclamation:before {
  content: "\ea9a";
}

.op-icon-external-link:before {
  content: "\ea9b";
}

.op-icon-external:before {
  content: "\ea9c";
}

.op-icon-eye-off:before {
  content: "\ea9d";
}

.op-icon-eye:before {
  content: "\ea9e";
}

.op-icon-facebook-squared:before {
  content: "\ea9f";
}

.op-icon-facebook:before {
  content: "\eaa0";
}

.op-icon-file-add:before {
  content: "\eaa1";
}

.op-icon-file-cancel:before {
  content: "\eaa2";
}

.op-icon-file-csv:before {
  content: "\eaa3";
}

.op-icon-file-down:before {
  content: "\eaa4";
}

.op-icon-file-export:before {
  content: "\eaa5";
}

.op-icon-file-filled:before {
  content: "\eaa6";
}

.op-icon-file-ok:before {
  content: "\eaa7";
}

.op-icon-file-order:before {
  content: "\eaa8";
}

.op-icon-file-pdf:before {
  content: "\eaa9";
}

.op-icon-file-previous:before {
  content: "\eaaa";
}

.op-icon-file-rest:before {
  content: "\eaab";
}

.op-icon-file-search:before {
  content: "\eaac";
}

.op-icon-file-up:before {
  content: "\eaad";
}

.op-icon-file:before {
  content: "\eaae";
}

.op-icon-filter-clear:before {
  content: "\eaaf";
}

.op-icon-filter:before {
  content: "\eab0";
}

.op-icon-fire:before {
  content: "\eab1";
}

.op-icon-firefox:before {
  content: "\eab2";
}

.op-icon-flow:before {
  content: "\eab3";
}

.op-icon-folder-add:before {
  content: "\eab4";
}

.op-icon-folder-cancel:before {
  content: "\eab5";
}

.op-icon-folder-down:before {
  content: "\eab6";
}

.op-icon-folder-export:before {
  content: "\eab7";
}

.op-icon-folder-ok:before {
  content: "\eab8";
}

.op-icon-folder-previous:before {
  content: "\eab9";
}

.op-icon-folder-rest:before {
  content: "\eaba";
}

.op-icon-folder-up:before {
  content: "\eabb";
}

.op-icon-folder:before {
  content: "\eabc";
}

.op-icon-front-micro:before {
  content: "\eabd";
}

.op-icon-front:before {
  content: "\eabe";
}

.op-icon-full-screen:before {
  content: "\eabf";
}

.op-icon-geolocation:before {
  content: "\eac0";
}

.op-icon-gift:before {
  content: "\eac1";
}

.op-icon-git-squared:before {
  content: "\eac2";
}

.op-icon-git:before {
  content: "\eac3";
}

.op-icon-github-circled:before {
  content: "\eac4";
}

.op-icon-github-squared:before {
  content: "\eac5";
}

.op-icon-github:before {
  content: "\eac6";
}

.op-icon-go:before {
  content: "\eac7";
}

.op-icon-gplus-squared:before {
  content: "\eac8";
}

.op-icon-gplus:before {
  content: "\eac9";
}

.op-icon-grid-full:before {
  content: "\eaca";
}

.op-icon-grid-half-horizontal:before {
  content: "\eacb";
}

.op-icon-grid-half-vertical:before {
  content: "\eacc";
}

.op-icon-grid-quarter:before {
  content: "\eacd";
}

.op-icon-grid-third-top:before {
  content: "\eace";
}

.op-icon-grid-thrids-bottom:before {
  content: "\eacf";
}

.op-icon-groceries:before {
  content: "\ead0";
}

.op-icon-group:before {
  content: "\ead1";
}

.op-icon-hand:before {
  content: "\ead2";
}

.op-icon-hat:before {
  content: "\ead3";
}

.op-icon-headset-micro:before {
  content: "\ead4";
}

.op-icon-headset:before {
  content: "\ead5";
}

.op-icon-helmet:before {
  content: "\ead6";
}

.op-icon-help:before {
  content: "\ead7";
}

.op-icon-history:before {
  content: "\ead8";
}

.op-icon-home:before {
  content: "\ead9";
}

.op-icon-hotel:before {
  content: "\eada";
}

.op-icon-html5:before {
  content: "\eadb";
}

.op-icon-hydraulics-2:before {
  content: "\eadc";
}

.op-icon-hydraulics:before {
  content: "\eadd";
}

.op-icon-ico-2d:before {
  content: "\eade";
}

.op-icon-ico-3d:before {
  content: "\eadf";
}

.op-icon-identity-manager:before {
  content: "\eae0";
}

.op-icon-image:before {
  content: "\eae1";
}

.op-icon-info-alert:before {
  content: "\eae2";
}

.op-icon-info:before {
  content: "\eae3";
}

.op-icon-infra:before {
  content: "\eae4";
}

.op-icon-iniciatives:before {
  content: "\eae5";
}

.op-icon-instagram:before {
  content: "\eae6";
}

.op-icon-interest:before {
  content: "\eae7";
}

.op-icon-internet-explorer:before {
  content: "\eae8";
}

.op-icon-invoice-euro:before {
  content: "\eae9";
}

.op-icon-invoice:before {
  content: "\eaea";
}

.op-icon-key:before {
  content: "\eaeb";
}

.op-icon-kiosk:before {
  content: "\eaec";
}

.op-icon-language:before {
  content: "\eaed";
}

.op-icon-layers:before {
  content: "\eaee";
}

.op-icon-layout-columns:before {
  content: "\eaef";
}

.op-icon-layout-free:before {
  content: "\eaf0";
}

.op-icon-layout-grid:before {
  content: "\eaf1";
}

.op-icon-layout-panel:before {
  content: "\eaf2";
}

.op-icon-layout-row:before {
  content: "\eaf3";
}

.op-icon-legend-closed-eye:before {
  content: "\eaf4";
}

.op-icon-legend-point:before {
  content: "\eaf5";
}

.op-icon-like:before {
  content: "\eaf6";
}

.op-icon-line:before {
  content: "\eaf7";
}

.op-icon-link:before {
  content: "\eaf8";
}

.op-icon-linkedin-squared:before {
  content: "\eaf9";
}

.op-icon-linkedin:before {
  content: "\eafa";
}

.op-icon-list:before {
  content: "\eafb";
}

.op-icon-loading:before {
  content: "\eafc";
}

.op-icon-location-check:before {
  content: "\eafd";
}

.op-icon-location:before {
  content: "\eafe";
}

.op-icon-lock:before {
  content: "\eaff";
}

.op-icon-login:before {
  content: "\eb00";
}

.op-icon-logout:before {
  content: "\eb01";
}

.op-icon-mail-off:before {
  content: "\eb02";
}

.op-icon-mail:before {
  content: "\eb03";
}

.op-icon-mallet:before {
  content: "\eb04";
}

.op-icon-map-download:before {
  content: "\eb05";
}

.op-icon-map:before {
  content: "\eb06";
}

.op-icon-maven:before {
  content: "\eb07";
}

.op-icon-maximize:before {
  content: "\eb08";
}

.op-icon-measure-line:before {
  content: "\eb09";
}

.op-icon-measure-polygon:before {
  content: "\eb0a";
}

.op-icon-menu:before {
  content: "\eb0b";
}

.op-icon-micro-off:before {
  content: "\eb0c";
}

.op-icon-microphone:before {
  content: "\eb0d";
}

.op-icon-microservice:before {
  content: "\eb0e";
}

.op-icon-minimize-2:before {
  content: "\eb0f";
}

.op-icon-minimize:before {
  content: "\eb10";
}

.op-icon-minus-large:before {
  content: "\eb11";
}

.op-icon-minus-medium:before {
  content: "\eb12";
}

.op-icon-minus-small:before {
  content: "\eb13";
}

.op-icon-minus:before {
  content: "\eb14";
}

.op-icon-module-multi:before {
  content: "\eb15";
}

.op-icon-module:before {
  content: "\eb16";
}

.op-icon-money-bag-euro:before {
  content: "\eb17";
}

.op-icon-money-bag:before {
  content: "\eb18";
}

.op-icon-money-increase:before {
  content: "\eb19";
}

.op-icon-more-outline:before {
  content: "\eb1a";
}

.op-icon-more:before {
  content: "\eb1b";
}

.op-icon-move:before {
  content: "\eb1c";
}

.op-icon-multiple:before {
  content: "\eb1d";
}

.op-icon-new:before {
  content: "\eb1e";
}

.op-icon-next:before {
  content: "\eb1f";
}

.op-icon-non-fuel:before {
  content: "\eb20";
}

.op-icon-note:before {
  content: "\eb21";
}

.op-icon-notification-add:before {
  content: "\eb22";
}

.op-icon-notification-off:before {
  content: "\eb23";
}

.op-icon-notification:before {
  content: "\eb24";
}

.op-icon-nuclear:before {
  content: "\eb25";
}

.op-icon-offer:before {
  content: "\eb26";
}

.op-icon-ong:before {
  content: "\eb27";
}

.op-icon-opera:before {
  content: "\eb28";
}

.op-icon-order:before {
  content: "\eb29";
}

.op-icon-overflow-menu:before {
  content: "\eb2a";
}

.op-icon-panel-corner:before {
  content: "\eb2b";
}

.op-icon-panel-lateral:before {
  content: "\eb2c";
}

.op-icon-panel-left-closed:before {
  content: "\eb2d";
}

.op-icon-panel-left-open:before {
  content: "\eb2e";
}

.op-icon-paste:before {
  content: "\eb2f";
}

.op-icon-pause:before {
  content: "\eb30";
}

.op-icon-pedestrian:before {
  content: "\eb31";
}

.op-icon-pencil-1:before {
  content: "\eb32";
}

.op-icon-pencil:before {
  content: "\eb33";
}

.op-icon-pensions:before {
  content: "\eb34";
}

.op-icon-percentage:before {
  content: "\eb35";
}

.op-icon-pet:before {
  content: "\eb36";
}

.op-icon-phone-cancel:before {
  content: "\eb37";
}

.op-icon-phone-next:before {
  content: "\eb38";
}

.op-icon-phone-off:before {
  content: "\eb39";
}

.op-icon-phone-on:before {
  content: "\eb3a";
}

.op-icon-phone-previous:before {
  content: "\eb3b";
}

.op-icon-phone-recibed:before {
  content: "\eb3c";
}

.op-icon-phone-send:before {
  content: "\eb3d";
}

.op-icon-phone:before {
  content: "\eb3e";
}

.op-icon-photo:before {
  content: "\eb3f";
}

.op-icon-picture:before {
  content: "\eb40";
}

.op-icon-pie-chart:before {
  content: "\eb41";
}

.op-icon-pig:before {
  content: "\eb42";
}

.op-icon-pinterest-circled:before {
  content: "\eb43";
}

.op-icon-pinterest-squared:before {
  content: "\eb44";
}

.op-icon-pinterest:before {
  content: "\eb45";
}

.op-icon-pipeline:before {
  content: "\eb46";
}

.op-icon-play-2:before {
  content: "\eb47";
}

.op-icon-play:before {
  content: "\eb48";
}

.op-icon-plus-large:before {
  content: "\eb49";
}

.op-icon-plus-medium:before {
  content: "\eb4a";
}

.op-icon-plus-small:before {
  content: "\eb4b";
}

.op-icon-plus:before {
  content: "\eb4c";
}

.op-icon-polygon-area:before {
  content: "\eb4d";
}

.op-icon-polygon:before {
  content: "\eb4e";
}

.op-icon-previous:before {
  content: "\eb4f";
}

.op-icon-print:before {
  content: "\eb50";
}

.op-icon-process:before {
  content: "\eb51";
}

.op-icon-pushpin:before {
  content: "\eb52";
}

.op-icon-re-send:before {
  content: "\eb53";
}

.op-icon-reception:before {
  content: "\eb54";
}

.op-icon-rectangle:before {
  content: "\eb55";
}

.op-icon-recycle:before {
  content: "\eb56";
}

.op-icon-refresh:before {
  content: "\eb57";
}

.op-icon-refund-euro:before {
  content: "\eb58";
}

.op-icon-refund:before {
  content: "\eb59";
}

.op-icon-reload:before {
  content: "\eb5a";
}

.op-icon-renting:before {
  content: "\eb5b";
}

.op-icon-reset:before {
  content: "\eb5c";
}

.op-icon-review:before {
  content: "\eb5d";
}

.op-icon-route:before {
  content: "\eb5e";
}

.op-icon-ruler:before {
  content: "\eb5f";
}

.op-icon-safari:before {
  content: "\eb60";
}

.op-icon-satelite:before {
  content: "\eb61";
}

.op-icon-save:before {
  content: "\eb62";
}

.op-icon-scale:before {
  content: "\eb63";
}

.op-icon-scan-bidi:before {
  content: "\eb64";
}

.op-icon-scan-box:before {
  content: "\eb65";
}

.op-icon-scan-default:before {
  content: "\eb66";
}

.op-icon-scan:before {
  content: "\eb67";
}

.op-icon-search:before {
  content: "\eb68";
}

.op-icon-security-alarm:before {
  content: "\eb69";
}

.op-icon-select-element:before {
  content: "\eb6a";
}

.op-icon-sell-euro:before {
  content: "\eb6b";
}

.op-icon-sell:before {
  content: "\eb6c";
}

.op-icon-send:before {
  content: "\eb6d";
}

.op-icon-setting:before {
  content: "\eb6e";
}

.op-icon-share-screen:before {
  content: "\eb6f";
}

.op-icon-share:before {
  content: "\eb70";
}

.op-icon-shield:before {
  content: "\eb71";
}

.op-icon-skype:before {
  content: "\eb72";
}

.op-icon-smartphone-off:before {
  content: "\eb73";
}

.op-icon-smartphone-on:before {
  content: "\eb74";
}

.op-icon-sofa:before {
  content: "\eb75";
}

.op-icon-solar-panel:before {
  content: "\eb76";
}

.op-icon-sort-double:before {
  content: "\eb77";
}

.op-icon-sort-down:before {
  content: "\eb78";
}

.op-icon-sort-left:before {
  content: "\eb79";
}

.op-icon-sort-right:before {
  content: "\eb7a";
}

.op-icon-sort-up:before {
  content: "\eb7b";
}

.op-icon-square-map:before {
  content: "\eb7c";
}

.op-icon-square:before {
  content: "\eb7d";
}

.op-icon-star-2:before {
  content: "\eb7e";
}

.op-icon-star-off:before {
  content: "\eb7f";
}

.op-icon-star-on:before {
  content: "\eb80";
}

.op-icon-stethoscope:before {
  content: "\eb81";
}

.op-icon-stop:before {
  content: "\eb82";
}

.op-icon-store:before {
  content: "\eb83";
}

.op-icon-substation:before {
  content: "\eb84";
}

.op-icon-success-alert:before {
  content: "\eb85";
}

.op-icon-switch-off:before {
  content: "\eb86";
}

.op-icon-switch-on:before {
  content: "\eb87";
}

.op-icon-sync:before {
  content: "\eb88";
}

.op-icon-table:before {
  content: "\eb89";
}

.op-icon-tag:before {
  content: "\eb8a";
}

.op-icon-taxes:before {
  content: "\eb8b";
}

.op-icon-template:before {
  content: "\eb8c";
}

.op-icon-terminal:before {
  content: "\eb8d";
}

.op-icon-text-align-center:before {
  content: "\eb8e";
}

.op-icon-text-align-justify:before {
  content: "\eb8f";
}

.op-icon-text-align-left:before {
  content: "\eb90";
}

.op-icon-text-align-right:before {
  content: "\eb91";
}

.op-icon-text-format-bold:before {
  content: "\eb92";
}

.op-icon-text-format-italic:before {
  content: "\eb93";
}

.op-icon-text-indent-decrease:before {
  content: "\eb94";
}

.op-icon-text-indent-increase:before {
  content: "\eb95";
}

.op-icon-tick-large:before {
  content: "\eb96";
}

.op-icon-tick-medium:before {
  content: "\eb97";
}

.op-icon-tick-small:before {
  content: "\eb98";
}

.op-icon-tick:before {
  content: "\eb99";
}

.op-icon-tower:before {
  content: "\eb9a";
}

.op-icon-tree:before {
  content: "\eb9b";
}

.op-icon-trello:before {
  content: "\eb9c";
}

.op-icon-truck-deal:before {
  content: "\eb9d";
}

.op-icon-truck-pickup:before {
  content: "\eb9e";
}

.op-icon-truck-shipment:before {
  content: "\eb9f";
}

.op-icon-truck:before {
  content: "\eba0";
}

.op-icon-tumblr-squared:before {
  content: "\eba1";
}

.op-icon-tumblr:before {
  content: "\eba2";
}

.op-icon-tv:before {
  content: "\eba3";
}

.op-icon-twitch:before {
  content: "\eba4";
}

.op-icon-twitter-squared:before {
  content: "\eba5";
}

.op-icon-twitter:before {
  content: "\eba6";
}

.op-icon-unlock:before {
  content: "\eba7";
}

.op-icon-unpushpin:before {
  content: "\eba8";
}

.op-icon-upload:before {
  content: "\eba9";
}

.op-icon-user-role:before {
  content: "\ebaa";
}

.op-icon-user:before {
  content: "\ebab";
}

.op-icon-utilities:before {
  content: "\ebac";
}

.op-icon-video-camera-off:before {
  content: "\ebad";
}

.op-icon-video-camera:before {
  content: "\ebae";
}

.op-icon-view-all-collapse-default:before {
  content: "\ebaf";
}

.op-icon-view-all-collapse-large:before {
  content: "\ebb0";
}

.op-icon-view-all-collapse-small:before {
  content: "\ebb1";
}

.op-icon-view-all-expand-default:before {
  content: "\ebb2";
}

.op-icon-view-all-expand-large:before {
  content: "\ebb3";
}

.op-icon-view-all-expand-small:before {
  content: "\ebb4";
}

.op-icon-vimeo:before {
  content: "\ebb5";
}

.op-icon-vision360:before {
  content: "\ebb6";
}

.op-icon-vote:before {
  content: "\ebb7";
}

.op-icon-warning-alert:before {
  content: "\ebb8";
}

.op-icon-warning-circle:before {
  content: "\ebb9";
}

.op-icon-warning-hexagonal:before {
  content: "\ebba";
}

.op-icon-warning:before {
  content: "\ebbb";
}

.op-icon-whatsapp-off:before {
  content: "\ebbc";
}

.op-icon-whatsapp:before {
  content: "\ebbd";
}

.op-icon-wheelchair:before {
  content: "\ebbe";
}

.op-icon-wikipedia:before {
  content: "\ebbf";
}

.op-icon-wine-store:before {
  content: "\ebc0";
}

.op-icon-wordpress:before {
  content: "\ebc1";
}

.op-icon-work:before {
  content: "\ebc2";
}

.op-icon-wrench:before {
  content: "\ebc3";
}

.op-icon-youtube-play:before {
  content: "\ebc4";
}

.op-icon-youtube-squared:before {
  content: "\ebc5";
}

.op-icon-youtube:before {
  content: "\ebc6";
}

.op-icon-zoom-backward:before {
  content: "\ebc7";
}

.op-icon-zoom-forward:before {
  content: "\ebc8";
}

.op-icon-zoom-less:before {
  content: "\ebc9";
}

.op-icon-zoom-more:before {
  content: "\ebca";
}
