<{{ctx.input.type}}
  ref="button"
  {% for (var attr in ctx.input.attr) { %}
  {{attr}}="{{ctx.input.attr[attr]}}"
  {% } %}
  {% if (ctx.component.description) { %}
    aria-describedby="d-{{ctx.instance.id}}-{{ctx.component.key}}"
  {% } %}
>
{% if (ctx.component.leftIcon) { %}<span class="{{ctx.component.leftIcon}}"></span>&nbsp;{% } %}
{{ctx.input.content}}
{% if (ctx.component.tooltip) { %}
  <i ref="tooltip" class="{{ctx.iconClass('question-sign')}} text-muted" data-tooltip="{{ctx.component.tooltip}}"></i>
{% } %}
{% if (ctx.component.rightIcon) { %}&nbsp;<span class="{{ctx.component.rightIcon}}"></span>{% } %}
</{{ctx.input.type}}>
<div ref="buttonMessageContainer" class="formio-button-message-container-hide">
  <span class="help-block" ref="buttonMessage"></span>
  <button onclick="this.parentNode.classList.remove('formio-button-message-container-show-error');this.parentNode.classList.remove('formio-button-message-container-show-done');this.parentNode.classList.add('formio-button-message-container-hide');" style="
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: transparent;
">x</button>
</div>
