<style>
  .el-tooltip__popper.is-light {
    z-index: 9000000 !important;
  }

  #rightsidemenu {
    font-size: 12px;
  }

  .el-card__body {
    padding: 10px;
  }

  .el-card__header {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    background-color: #f0f1f2;
  }
  .el-card {
    border: 1px solid #EBEEF5;
    background-color: #FFF;
    color: #303133;
    -webkit-transition: .3s;
    transition: .3s;
}
  .el-divider--horizontal {
    display: block;
    height: 1px;
    width: 100%;
    margin: 12px 0;
  }

  .apply-icons-grey {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(162deg) brightness(93%) contrast(88%);
  }

  .leafstyle {
    border: 1px solid #d7dadc;
    width: 93%;
    margin: 3px 2px 3px 2px;
    padding: 1px 2px 1px 10px;
    height: auto;
  }

  .is-leaf.el-tree-node__expand-icon.el-icon-caret-right {
    display: none;
  }

  .el-tabs__item {
    font-size: 12px;
  }
  dashboard span {
    height: auto;
}
</style>

<div id="rightsidemenu">
  <div id="divrightsidemenubody">

  </div>




</div>